@charset "utf-8";

div#content div.product-components,
div#content div.product-versions{
	width: 256px;
}
div#content div.product-components{
	float: left;
	margin: 0 5px 0 0;
}
div#content div.product-versions{
	float: right;
	margin: 0 0 0 5px;
}
div#content div.product-reports{
	clear: both;
	padding: 10px 0 0 0;
}
div#content div.product-reports ul.reports li.report table.bugwaz-reports{
	font-size: 0.8em;
}
