{% extends "base.html" %}
{% load tagging %}
{% load commons %}
{% load bugwaz %}
{% load tasks %}

{% block head %}
{% compressed_css 'projects-project-base' %}
{% if object %}
{% ifhsp 'projects.kick_project' of object for user %}
<script type="text/javascript">
	$(document).ready(function(){
		var menu = {
			"このユーザーをキックする": {
				click: function(elm){
					var username = elm.attr('username');
					var url = "{% reverse 'projects-project-quit' object.pk %}"+username+"/";
					location.href = url;
				},
				klass: 'kick'
			}
		};
		$('div#action ul.users.project li.user').contextMenu('context-menu', menu);
	});
</script>
{% endifhsp %}
{% endif %}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url projects-project-list %}">Projects</a></li>
{% endblock %}

{% block summary %}
{% if object %}
{% with object as project %}
{% include "projects/components/overview-summary.html" %}
{% endwith %}
{% endif %}
{% endblock %}

{% block action %}
{% if object %}
<h3>操作</h3>
<ul class="ilist">
	<li class="bugwaz-report-create"><a href="{{ object.bugwaz.get_report_bug_url }}">バグ報告をする</a></li>
	{% ifhsp 'messages.add_message' for user %}
	<li class="messages-message-create"><a href="{% reverse 'messages-message-create' %}?to=group:{{ object.group.name }}">プロジェクトメンバーにメッセージを送る</a></li>
	{% endifhsp %}
	{% ifhsp 'projects.add_wiki_project' of object for user %}
	{% ifhsp 'wikis.add_entry' for user %}
	<li class="wikis-entry-create"><a href="{% reverse 'wikis-entry-create' object.slug %}">ウィキページを作成</a></li>
	{% endifhsp %}
	{% endifhsp %}
	{% ifhsp 'projects.add_task_project' of object for user %}
	{% ifhsp 'tasks.add_task' for user %}
	<li class="tasks-task-create"><a href="{% reverse 'tasks-task-create' object.slug %}">タスクを作成</a></li>
	{% endifhsp %}
	{% endifhsp %}
	{% ifhsp 'projects.add_material_project' of object for user %}
	{% ifhsp 'commons.add_material' for user %}
	<li class="commons-material-create"><a href="{% reverse 'commons-material-create' object.slug %}">素材をアップロード</a></li>
	{% endifhsp %}
	{% endifhsp %}
	{% ifhsp 'projects.add_thread_project' of object for user %}
	{% ifhsp 'threads.add_thread' for user %}
	<li class="threads-thread-create"><a href="{% reverse 'threads-thread-create' object.slug %}">スレッドを作成</a></li>
	{% endifhsp %}
	{% endifhsp %}
	
	{% ifhsp 'projects.join_project' of object for user %}
	{% if user in object.members.all %}
	{% if user != object.author %}
	<li class="projects-project-quit"><a href="{% reverse 'projects-project-quit' object.pk %}">プロジェクトから抜ける</a></li>
	{% endif %}
	{% else %}
	<li class="projects-project-join"><a href="{% reverse 'projects-project-join' object.pk %}">参加する</a></li>
	{% endif %}
	{% endifhsp %}
</ul>
{% ifhsp 'projects.add_project','projects.change_project','projects.delete_project' of object for user %}
<h3>管理</h3>
<ul class="ilist">
	{% ifhsp 'projects.add_project' for user %}
	<li class="projects-project-create"><a href="{% reverse 'projects-project-create' %}">新規作成</a></li>
	{% endifhsp %}
	{% ifhsp 'projects.change_project' of object for user %}
	<li class="projects-project-update"><a href="{% reverse 'projects-project-update' object.pk %}">編集</a></li>
	{% endifhsp %}
	{% ifhsp 'projects.delete_project' of object for user %}
	<li class="projects-project-delete"><a href="{% reverse 'projects-project-delete' object.pk %}">削除</a></li>
	{% endifhsp %}
</ul>
{% endifhsp %}
{% else %}
{% ifhsp 'projects.add_project' for user %}
<h3>操作</h3>
<ul class="ilist">
	<li class="projects-project-create"><a href="{% reverse 'projects-project-create' %}">新規作成</a></li>
</ul>
{% endifhsp %}
{% endif %}

{% if object %}
<h3>見る</h3>
<ul class="ilist">
	<li class="projects-project-list"><a href="{% reverse 'projects-project-list' %}">一覧へ戻る</a></li>
	<li class="wikis-entry-list"><a href="{% url wikis-entry-detail object.slug %}">ウィキトップ</a></li>
	{% get_active_task_count request for object as active_task_count %}
	<li class="tasks-task-list"><a href="{% url tasks-task-list object.slug %}">タスク一覧{% if active_task_count %}({{ active_task_count }}){% endif %}</a></li>
	<li class="commons-material-list"><a href="{% reverse 'commons-material-list' project=object.slug %}">素材一覧</a></li>
	<li class="threads-thread-list"><a href="{% reverse 'threads-thread-list' object.slug %}">スレッド一覧</a></li>
	{% get_active_report_count for object.bugwaz as active_report_count %}
	<li class="bugwaz-report-list"><a href="{{ object.bugwaz.get_absolute_url }}">Bugwaz{% if active_report_count %}({{ active_report_count }}){% endif %}</a></li>
</ul>
{% endif %}

{% if object %}
<h3>添付ファイル一覧</h3>
{% get_materials for object.body as materials %}
<ul class="ilist">
	{% for material in materials %}
	<li class="commons-material-detail">{{ material.get_title_display }}</li>
	{% empty %}
	<li class="commons-material-detail">添付されているファイルはありません</li>
	{% endfor %}
</ul>
{% endif %}

{% if object %}
<h3>参加者({{ object.members.count }}名)</h3>
<ul class="users project">
{% for user in object.members.all %}
	{% with user.get_profile as profile %}
	<li class="user" username="{{ user.username }}">
		<div class="profile-icon"><a href="{{ profile.get_absolute_url }}" alt="{{ profile.nickname}}さんのプロフィール" class="fenced middle filled">
			<span></span>{{ profile.get_icon_middle_display }}
		</a></div>
		<div class="profile-nickname">{{ profile.get_nickname_display }}</div>
		<div class="profile-mood">{{ profile.mood|default:"…" }}</div>
	</li>
	{% endwith %}
{% empty %}
	<li class="user">参加者がいません</li>
{% endfor %}
</ul>
{% ifhsp 'projects.kick_project' of object for user %}
<p><small>ユーザーアイコン右クリックで特定ユーザーをキックできます</small></p>
{% endifhsp %}
{% endif %}
{% endblock %}