{% extends "projects/base.html" %}
{% load history %}
{% load typeimg %}
{% load parser %}
{% load commons %}
{% load djangostar %}
{% block title %}{{ object.title }}{% endblock %}

{% block head %}
{{ block.super }}
{% compressed_css "comments" %}
{% compressed_css 'markitupfield' %}
{% compressed_css 'projects-project-detail' %}
{% compressed_js 'markitupfield' %}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></li>
{% endblock %}

{% block content %}
<h2 class="project-title">{{ object.title }}</h2>
<div class="project-icon fenced huge filled">
	<span></span>{{ object.get_icon_huge_display }}
</div>
{% get_history_timelines of object,object.wiki_entries,object.tasks,object.threads,object.bugwaz.reports as timelines %}
<div class="project-history">
	<table>
	{% for timeline in timelines|slice:":10" %}
		<tr>
			<th{% if timeline.is_recent %} class="recent"{% endif %}>{{ timeline.get_action_time_display }}</th>
			<td>{% render_ctimg for timeline.content_type %}{{ timeline.get_message }}</td>
		</tr>
	{% empty %}
		<tr><td colspan="2">更新情報はありません</td>
	{% endfor %}
	</table>
</div>
<div class="project-body markdown">
    {% render_djangostar_list for object %}
	{{ object.body|parse }}
</div>
{% include "comments/components/sets.html" %}
{% endblock %}
