{% extends "projects/base.html" %}
{% load uni_form_tags %}

{% block title %}
	{% if object %}{{ object.title }}の編集{% else %}新規プロジェクトの発足{% endif %}
{% endblock %}

{% block head %}
{{ block.super }}
{% compressed_css 'markitupfield' %}
{% compressed_css 'uni-form' %}
{% compressed_js 'markitupfield' %}
{% compressed_js 'uni-form' %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	{% if object %}
	<li><a href="{% reverse 'projects-project-detail' object.pk %}">{{ object.title }}</a></li>
	<li><a href="{% reverse 'projects-project-update' object.pk %}">編集</a></li>
	{% else %}
	<li><a href="{% url projects-project-create %}">新規プロジェクトの発足</a></li>
	{% endif %}
{% endblock %}

{% block content %}
<h2>
{% if object %}
{{ object.title }}の編集
{% else %}
新規プロジェクトの発足
{% endif %}
</h2>

<form action="" method="post" enctype="multipart/form-data"  class="uniForm">{% csrf_token %}
	{{ form|as_uni_form }}
	<div class="buttonHolder">
		<button type="button" class="secondaryAction back-button">←キャンセルし戻る</button>
		{% if not object %}
		<button type="button" class="primaryAction draft-button">下書きとして保存</button>
		{% endif %}
		<button type="submit" class="primaryAction">{% if object %}変更を反映{% else %}保存して公開{% endif %}</button>
	</div>
</form>
{% endblock %}
