{% extends "projects/base.html" %}
{% load tagging %}
{% load projects %}
{% load pagination_tags %}

{% block title %}
{% if author %}
{{ author.get_profile.nickname }}さんが所属しているプロジェクトの一覧
{% elif category %}
{{ category.label }}のプロジェクト一覧
{% else %}
プロジェクト一覧
{% endif %}
{% endblock %}

{% block head %}
{% compressed_css 'projects-project-list' %}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% if author %}
<li><a href="{% reverse 'projects-project-list' author=author %}">{{ author.get_profile.nickname }}</a></li>
{% elif category %}
<li><a href="{% reverse 'projects-project-list' category=category %}">{{ category.label }}</a></li>
{% endif %}
{% endblock %}

{% block action %}
{{ block.super }}
<h3>完成作品一覧</h3>
{% get_projects request with 'done' as products %}
<ul class="ilist">
	{% for product in products %}
	<li class="projects-product-detail">
		{{ product.get_title_display }}<br />
		<small>{{ product.body|striptags|truncateletters:50 }}</small>
	</li>
	{% endfor %}
</ul>
<h3>フィルタ</h3>
<div class="filterset">
{{ filter.form }}
</div>
{% endblock %}

{% block content %}
<h2>プロジェクトの一覧</h2>
<ul class="projects">
	{% autopaginate object_list %}
	{% for project in object_list %}
	<li class="project">
		{% include "projects/components/list-item.html" %}
	</li>
	{% empty %}
	<li class="project empty">条件に一致するプロジェクトはありません</li>
	{% endfor %}
</ul>
{% paginate %}

{% endblock %}
