{% extends "projects/base.html" %}
{% load uni_form_tags %}
{% load typeimg %}

{% block title %}
{{ object.title }}の削除確認
{% endblock %}

{% block head %}
{{ block.super }}
{% compressed_css 'uni-form' %}
{% compressed_js 'uni-form' %}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></li>
<li><a href="{% url projects-project-delete object.pk %}">削除確認</a></li>
{% endblock %}

{% block content %}
<h2>{{ object.title }}の削除確認</h2>
<p>削除は取り消せません。本当に削除してもよろしいですか？以下の関連するオブジェクトも同様に削除されます</p>
<ul class="ilist">
	{% for material in object.materials.all %}
	<li class="manual"><a href="{{ material.get_absolute_url }}">{% render_ctimg for material %}{{ material }}</a></li>
	{% endfor %}
	{% for task in object.tasks.all %}
	<li class="manual"><a href="{{ task.get_absolute_url }}">{% render_ctimg for task %}{{ task }}</a></li>
	{% endfor %}
	{% for thread in object.threads.all %}
	<li class="manual"><a href="{{ thread.get_absolute_url }}">{% render_ctimg for thread %}{{ thread }}</a></li>
	{% endfor %}
	{% for wiki in object.wiki_entries.all %}
	<li class="manual"><a href="{{ wiki.get_absolute_url }}">{% render_ctimg for wiki %}{{ wiki }}</a></li>
	{% endfor %}
</ul>
<form action="" method="post" class="uniForm">{% csrf_token %}
	<div class="buttonHolder">
		<button type="button" class="secondaryAction back-button">←キャンセルし戻る</button>
		<button type="submit" class="primaryAction">削除する</button>
	</div>
</form>
{% endblock %}