@charset "utf-8";

.ctimg{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0 2px 0 0;
	background: url(../image/ctimg.png) no-repeat;
	vertical-align: middle;
}
.ctimg.auth-user{ background-position: -16px 0px; }
.ctimg.profiles-profile{ background-position: -32px 0px; }
.ctimg.announcements-announcement{ background-position: -48px 0px; }
.ctimg.blogs-entry{ background-position: -64px 0px; }
.ctimg.bugwaz-report{ background-position: -80px 0px; }
.ctimg.bugwaz-product{ background-position: -96px 0px; }
.ctimg.bugwaz-component{ background-position: -112px 0px; }
.ctimg.bugwaz-version{ background-position: -128px 0px; }
.ctimg.commons-material{ background-position: -144px 0px; }
.ctimg.mcomments-markitupcomment{ background-position: -160px 0px; }
.ctimg.events-event{ background-position: -176px 0px; }
.ctimg.messages-message{ background-position: -192px 0px; }
.ctimg.projects-project{ background-position: -208px 0px; }
.ctimg.tasks-task{ background-position: -224px 0px; }
.ctimg.threads-thread{ background-position: -240px 0px; }
.ctimg.tweets-tweet{ background-position: -256px 0px; }
.ctimg.wikis-entry{ background-position: -272px 0px; }

