@charset "utf-8";
/*
 * Usage:
 *   <div class="fenced"><span></span><???????????></div>
 *   
 * Note:
 *   '<span></span>' is required before the element which you want to vertical centering.
 *   And also, you cannot use any letter in it because of font-size. This class used
 *   'font-size: 0' for container class.
 */
.fenced{
	/*display: table-cell;*/	/* Doesn't need it? */
	text-align: center;
	padding: 1px;
	vertical-align: middle;
	font-size: 0;
}
.fenced.filled{
	padding: 0;
	border: 1px solid #cacbc7;
	background-color: #ffffff;
}
table tr td .fenced{
	margin: 2px 0 1px 0;
}
.hlist .fenced{
	margin: 2px 0 0 0;
}
.fenced a{
	display: inline-block;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	outline: none;
}
.fenced *{
	vertical-align: middle;
}
.fenced span{
	display: none;
}
.fenced span{
	display: inline-block;
	width: 1px;
	height: 100%;
	font-size: 1px;
	margin-right: -1px;
}

.fenced.small,
.fenced.middle,
.fenced.large,
.fenced.digest,
.fenced.huge,
.fenced.mega{
	display: inline-block;
}
.fenced.small{
	width: 24px;
	height: 24px;
}
.fenced.middle{
	width: 48px;
	height: 48px;
}
.fenced.large{
	width: 96px;
	height: 96px;
}
.fenced.digest{
	width: 144px;
	height: 144px;
}
.fenced.huge{
	width: 288px;
	height: 288px;
}