@charset "utf-8";
/*
 * Horizontal List
 */
ul.hlist,
ol.hlist{
	margin: 0;
	padding: 0;
}
ul.hlist li,
ol.hlist li{
	display: block;
	float: left;
	margin: 0 10px 10px 0;
	vertical-align: middle;
}
ul.hlist li.empty,
ol.hlist li.empty{
	display: list-item;
	float: none;
	margin: inherit;
	list-style: none;
}
table tr td ul.hlist li,
table tr td ol.hlist li{
	margin-bottom: 5px;
}
ul.hlist:after,
ol.hlist:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html ul.hlist,
* html ol.hlist
{ zoom: 1; } /* IE6 */
*:first-child+html ul.hlist,
*:first-child+html ol.hlist
{ zoom: 1; } /* IE7 */