@charset "utf-8";
/*
 * 各種アイコン関係の処理を行うCSS
 */
ul.ilist{
	margin: 0 3px;
	padding: 0;
}
ul.ilist > li,
li.ilist{
	margin-bottom: 5px;
	padding-left: 20px;
	line-height: 16px;
	list-style: none;
}
ul.ilist > li.manual{
	padding-left: 0;
}
h1.ilist,h2.ilist,h3.ilist,h4.ilist,h5.ilist,h6.ilist{
	padding-left: 20px;
	line-height: 16px;
}
/*
 * Note:
 * 	`ul`以外でも以下の設定がフレキシブルに使用可能にするため特に`ul`や`li`
 * 	などの設定は行っていない。何かしら問題が発生するようなら付けても構わないが
 * 	まぁありえないだろう
 */
.home{
	background: url(../icon/home.png) no-repeat;
}
/* services ----------------------------------------------------------------- */
.twitter{
	background: url(../icon/twitter.png) no-repeat;
}
.google{
	background: url(../icon/google.png) no-repeat;
}
.hatena{
	background: url(../icon/hatena.png) no-repeat;
}
.facebook{
	background: url(../icon/facebook.png) no-repeat;
}{% compressed_css 'markitupfield' %}
{% compressed_js 'markitupfield' %}
{% compressed_css 'comments' %}
.mixi{
	background: url(../icon/mixi.png) no-repeat;
}
.pixiv{
	background: url(../icon/pixiv.png) no-repeat;
}
.skype{
	background: url(../icon/skype.png) no-repeat;
}
.wlm{
	background: url(../icon/wlm.png) no-repeat;
}
/* comments ----------------------------------------------------------------- */
.comments-comment-delete{
	background: url(../icon/comments-comment-delete.png) no-repeat;
}
.comments-comment-permalink{
	background: url(../icon/comments-comment-permalink.png) no-repeat;
}
/* archives ----------------------------------------------------------------- */
.archives{
	background: url(../icon/archives.png) no-repeat;
}
/* profiles ----------------------------------------------------------------- */
.profiles-profile-list{
	background: url(../icon/profiles-profile-list.png) no-repeat;
}
/* registration -------------------------------------------------------------- */
.registration-profile-waiting{
	background: url(../icon/registration-profile-waiting.png) no-repeat;
}
.registration-profile-approved{
	background: url(../icon/registration-profile-approved.png) no-repeat;
}
/* utilities ----------------------------------------------------------------- */
.utilities-index{
	background: url(../icon/utilities-index.png) no-repeat;
}
.utilities-fixture{
	background: url(../icon/utilities-fixture.png) no-repeat;
}
.utilities-resave-all{
	background: url(../icon/utilities-resave-all.png) no-repeat;
}
.utilities-remodify-object-permission{
	background: url(../icon/utilities-remodify-object-permission.png) no-repeat;
}
.utilities-subversion{
	background: url(../icon/utilities-subversion.png) no-repeat;
}
.utilities-configure{
	background: url(../icon/utilities-configure.png) no-repeat;
}
.utilities-template-check{
	background: url(../icon/utilities-template-check.png) no-repeat;
}
/* tweets ----------------------------------------------------------------- */
.tweets-tweet-create{
	background: url(../icon/tweets-tweet-create.png) no-repeat;
}
.tweets-tweet-update{
	background: url(../icon/tweets-tweet-update.png) no-repeat;
}
.tweets-tweet-delete{
	background: url(../icon/tweets-tweet-delete.png) no-repeat;
}
.tweets-tweet-list{
	background: url(../icon/tweets-tweet-list.png) no-repeat;
}
.tweets-tweet-detail{
	background: url(../icon/tweets-tweet-detail.png) no-repeat;
}
/* profiles -------------------------------------------------------------- */
.profiles-profile-detail{
	background: url(../icon/profiles-profile-detail.png) no-repeat;
}
.profiles-profile-update{
	background: url(../icon/profiles-profile-update.png) no-repeat;
}
/* blogs ----------------------------------------------------------------- */
.blogs-entry-create{
	background: url(../icon/blogs-entry-create.png) no-repeat;
}
.blogs-entry-update{
	background: url(../icon/blogs-entry-update.png) no-repeat;
}
.blogs-entry-delete{
	background: url(../icon/blogs-entry-delete.png) no-repeat;
}
.blogs-entry-list{
	background: url(../icon/blogs-entry-list.png) no-repeat;
}
.blogs-entry-detail{
	background: url(../icon/blogs-entry-detail.png) no-repeat;
}
.blogs-entry-reply{
	background: url(../icon/blogs-entry-reply.png) no-repeat;
}
/* projects -------------------------------------------------------------- */
.projects-project-create{
	background: url(../icon/projects-project-create.png) no-repeat;
}
.projects-project-update{
	background: url(../icon/projects-project-update.png) no-repeat;
}
.projects-project-delete{
	background: url(../icon/projects-project-delete.png) no-repeat;
}
.projects-project-list{
	background: url(../icon/projects-project-list.png) no-repeat;
}
.projects-project-detail{
	background: url(../icon/projects-project-detail.png) no-repeat;
}
.projects-project-join{
	background: url(../icon/projects-project-join.png) no-repeat;
}
.projects-project-quit{
	background: url(../icon/projects-project-quit.png) no-repeat;
}
.projects-product-create{
	background: url(../icon/projects-product-create.png) no-repeat;
}
.projects-product-update{
	background: url(../icon/projects-product-update.png) no-repeat;
}
.projects-product-delete{
	background: url(../icon/projects-product-delete.png) no-repeat;
}
.projects-product-list{
	background: url(../icon/projects-product-list.png) no-repeat;
}
.projects-product-detail{
	background: url(../icon/projects-product-detail.png) no-repeat;
}
/* wikis -------------------------------------------------------------- */
.wikis-entry-create{
	background: url(../icon/wikis-entry-create.png) no-repeat;
}
.wikis-entry-update{
	background: url(../icon/wikis-entry-update.png) no-repeat;
}
.wikis-entry-delete{
	background: url(../icon/wikis-entry-delete.png) no-repeat;
}
.wikis-entry-list{
	background: url(../icon/wikis-entry-list.png) no-repeat;
}
.wikis-entry-detail{
	background: url(../icon/wikis-entry-detail.png) no-repeat;
}
/* tasks -------------------------------------------------------------- */
.tasks-task-create{
	background: url(../icon/tasks-task-create.png) no-repeat;
}
.tasks-task-update{
	background: url(../icon/tasks-task-update.png) no-repeat;
}
.tasks-task-delete{
	background: url(../icon/tasks-task-delete.png) no-repeat;
}
.tasks-task-list{
	background: url(../icon/tasks-task-list.png) no-repeat;
}
.tasks-task-list-project{
	background: url(../icon/tasks-task-list-project.png) no-repeat;
}
.tasks-task-detail{
	background: url(../icon/tasks-task-detail.png) no-repeat;
}
.tasks-task-status-join{
	background: url(../icon/tasks-task-status-join.png) no-repeat;
}
.tasks-task-status-new{
	background: url(../icon/tasks-task-status-new.png) no-repeat;
}
.tasks-task-status-canceled{
	background: url(../icon/tasks-task-status-canceled.png) no-repeat;
}
.tasks-task-status-accepted{
	background: url(../icon/tasks-task-status-accepted.png) no-repeat;
}
.tasks-task-status-rejected{
	background: url(../icon/tasks-task-status-rejected.png) no-repeat;
}
.tasks-task-status-paused{
	background: url(../icon/tasks-task-status-paused.png) no-repeat;
}
.tasks-task-status-done{
	background: url(../icon/tasks-task-status-done.png) no-repeat;
}
.tasks-task-status-frozen{
	background: url(../icon/tasks-task-status-frozen.png) no-repeat;
}
.tasks-task-status-closed{
	background: url(../icon/tasks-task-status-closed.png) no-repeat;
}
/* threads -------------------------------------------------------------- */
.threads-thread-create{
	background: url(../icon/threads-thread-create.png) no-repeat;
}
.threads-thread-update{
	background: url(../icon/threads-thread-update.png) no-repeat;
}
.threads-thread-delete{
	background: url(../icon/threads-thread-delete.png) no-repeat;
}
.threads-thread-list{
	background: url(../icon/threads-thread-list.png) no-repeat;
}
.threads-thread-detail{
	background: url(../icon/threads-thread-detail.png) no-repeat;
}
/* commons -------------------------------------------------------------- */
.commons-material-create{
	background: url(../icon/commons-material-create.png) no-repeat;
}
.commons-material-update{
	background: url(../icon/commons-material-update.png) no-repeat;
}
.commons-material-delete{
	background: url(../icon/commons-material-delete.png) no-repeat;
}
.commons-material-list{
	background: url(../icon/commons-material-list.png) no-repeat;
}
.commons-material-detail{
	background: url(../icon/commons-material-detail.png) no-repeat;
}
/* messages -------------------------------------------------------------- */
.messages-message-create{
	background: url(../icon/messages-message-create.png) no-repeat;
}
.messages-message-update{
	background: url(../icon/messages-message-update.png) no-repeat;
}
.messages-message-delete{
	background: url(../icon/messages-message-delete.png) no-repeat;
}
.messages-message-list{
	background: url(../icon/messages-message-list.png) no-repeat;
}
.messages-message-list-recived{
	background: url(../icon/messages-message-list-recived.png) no-repeat;
}
.messages-message-list-sent{
	background: url(../icon/messages-message-list-sent.png) no-repeat;
}
.messages-message-detail{
	background: url(../icon/messages-message-detail.png) no-repeat;
}
.messages-message-read{
	background: url(../icon/messages-message-read.png) no-repeat;
}
.messages-message-unread{
	background: url(../ico?next={{ request.path }}n/messages-message-unread.png) no-repeat;
}
.messages-message-reply{
	background: url(../icon/messages-message-reply.png) no-repeat;
}
/* drafts ---------------------------------------------------------------- */
.drafts-draft-list{
	background: url(../icon/drafts-draft-list.png) no-repeat;
}
/* auth ------------------------------------------------------------------ */
.auth-user-update{
	background: url(../icon/auth-user-update.png) no-repeat;
}
.auth-password-update{
	background: url(../icon/auth-password-update.png) no-repeat;
}
.auth-password-reset{
	background: url(../icon/auth-password-reset.png) no-repeat;
}
.auth-user{
	background: url(../icon/auth-user.png) no-repeat;
}
/* events ---------------------------------------------------------------- */
.events-event-list{
	background: url(../icon/events-event-list.png) no-repeat;
}
.events-event-detail{
	background: url(../icon/events-event-detail.png) no-repeat;
}
.events-event-create{
	background: url(../icon/events-event-create.png) no-repeat;
}
.events-event-update{
	background: url(../icon/events-event-update.png) no-repeat;
}
.events-event-delete{
	background: url(../icon/events-event-delete.png) no-repeat;
}
.events-event-join{
	background: url(../icon/events-event-join.png) no-repeat;
}
.events-event-quit{
	background: url(../icon/events-event-quit.png) no-repeat;
}
/* announcements ---------------------------------------------------------- */
.announcements-announcement-list{
	background: url(../icon/announcements-announcement-list.png) no-repeat;
}
.announcements-announcement-detail{
	background: url(../icon/announcements-announcement-detail.png) no-repeat;
}
.announcements-announcement-create{
	background: url(../icon/announcements-announcement-create.png) no-repeat;
}
.announcements-announcement-update{
	background: url(../icon/announcements-announcement-update.png) no-repeat;
}
.announcements-announcement-delete{
	background: url(../icon/announcements-announcement-delete.png) no-repeat;
}
/* bugwaz ---------------------------------------------------------------- */
.bugwaz-component-list{
	background: url(../icon/bugwaz-component-list.png) no-repeat;
}
.bugwaz-component-detail{
	background: url(../icon/bugwaz-component-detail.png) no-repeat;
}
.bugwaz-component-create{
	background: url(../icon/bugwaz-component-create.png) no-repeat;
}
.bugwaz-component-update{
	background: url(../icon/bugwaz-component-update.png) no-repeat;
}
.bugwaz-component-delete{
	background: url(../icon/bugwaz-component-delete.png) no-repeat;
}
.bugwaz-version-list{
	background: url(../icon/bugwaz-version-list.png) no-repeat;
}
.bugwaz-version-detail{
	background: url(../icon/bugwaz-version-detail.png) no-repeat;
}
.bugwaz-version-create{
	background: url(../icon/bugwaz-version-create.png) no-repeat;
}
.bugwaz-version-update{
	background: url(../icon/bugwaz-version-update.png) no-repeat;
}
.bugwaz-version-delete{
	background: url(../icon/bugwaz-version-delete.png) no-repeat;
}
.bugwaz-report-list{
	background: url(../icon/bugwaz-report-list.png) no-repeat;
}
.bugwaz-report-detail{
	background: url(../icon/bugwaz-report-detail.png) no-repeat;
}
.bugwaz-report-create{
	background: url(../icon/bugwaz-report-create.png) no-repeat;
}
.bugwaz-report-update{
	background: url(../icon/bugwaz-report-update.png) no-repeat;
}
.bugwaz-report-delete{
	background: url(../icon/bugwaz-report-delete.png) no-repeat;
}
.bugwaz-report-status{
	background: url(../icon/bugwaz-report-status.png) no-repeat;
}
.bugwaz-report-charge{
	background: url(../icon/bugwaz-report-charge.png) no-repeat;
}
.bugwaz-report-discharge{
	background: url(../icon/bugwaz-report-discharge.png) no-repeat;
}
.bugwaz-report-status-unconfirmed{
	background: url(../icon/bugwaz-report-status-unconfirmed.png) no-repeat;
}
.bugwaz-report-status-confirmed{
	background: url(../icon/bugwaz-report-status-confirmed.png) no-repeat;
}
.bugwaz-report-status-readytofix{
	background: url(../icon/bugwaz-report-status-readytofix.png) no-repeat;
}
.bugwaz-report-status-inprogress{
	background: url(../icon/bugwaz-report-status-inprogress.png) no-repeat;
}
.bugwaz-report-status-resolved{
	background: url(../icon/bugwaz-report-status-resolved.png) no-repeat;
}
.bugwaz-report-status-verified{
	background: url(../icon/bugwaz-report-status-verified.png) no-repeat;
}
.bugwaz-product-list{
	background: url(../icon/bugwaz-product-list.png) no-repeat;
}
.bugwaz-product-detail{
	background: url(../icon/bugwaz-product-detail.png) no-repeat;
}
.bugwaz-product-create{
	background: url(../icon/bugwaz-product-create.png) no-repeat;
}
.bugwaz-product-update{
	background: url(../icon/bugwaz-product-update.png) no-repeat;
}
.bugwaz-product-delete{
	background: url(../icon/bugwaz-product-delete.png) no-repeat;
}
/* permissiongroups ---------------------------------------------------------------- */
.permissiongroups-permissiongroup-list{
	background: url(../icon/permissiongroups-permissiongroup-list.png) no-repeat;
}
.permissiongroups-permissiongroup-detail{
	background: url(../icon/permissiongroups-permissiongroup-detail.png) no-repeat;
}
.permissiongroups-permissiongroup-create{
	background: url(../icon/permissiongroups-permissiongroup-create.png) no-repeat;
}
.permissiongroups-permissiongroup-update{
	background: url(../icon/permissiongroups-permissiongroup-update.png) no-repeat;
}
.permissiongroups-permissiongroup-delete{
	background: url(../icon/permissiongroups-permissiongroup-delete.png) no-repeat;
}
/* flatpages ---------------------------------------------------------------- */
.flatpages-flatpage-list{
	background: url(../icon/flatpages-flatpage-list.png) no-repeat;
}
.flatpages-flatpage-detail{
	background: url(../icon/flatpages-flatpage-detail.png) no-repeat;
}
.flatpages-flatpage-create{
	background: url(../icon/flatpages-flatpage-create.png) no-repeat;
}
.flatpages-flatpage-update{
	background: url(../icon/flatpages-flatpage-update.png) no-repeat;
}
.flatpages-flatpage-delete{
	background: url(../icon/flatpages-flatpage-delete.png) no-repeat;
}