@charset "utf-8";

div#content .markdown h1,
div#content .markdown h2,
div#content .markdown h3,
div#content .markdown h4,
div#content .markdown h5,
div#content .markdown h6{
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	font-size: 1.0em;
}
div#content .markdown h1:first-child,
div#content .markdown h2:first-child,
div#content .markdown h3:first-child{
	margin-top: 0 !important;
}
div#content .markdown h1{
	margin: 30px 0 5px 0;
	padding: 0 0 2px 15px;
	border-bottom: 1px dotted #cacbc7;
	background: url(../image/content-h3-background.jpg) no-repeat 0 50%;
	font-size: 1.2em;
}
div#content .markdown h2{
	margin: 30px 0 5px 0;
	padding: 0 0 0 0 !important;
	border-bottom: 1px dotted #cacbc7;
	background: none !important;
	font-size: 1.1em !important;
}
div#content .markdown p{
	margin: 0 0 1.2em 0;
}
div#content .markdown div.footnote{
	margin: 20px 0 0 0;
	padding: 5px 10px 0 10px;
	border-top: 1px dotted #cacbc7;
	font-size: 0.8em;
	color: #9a9a9a;
}
div#content .markdown div.footnote p{
	margin: 0;
	line-height: 1.2em;
}
/* AA --------------------------------------------------------------------------------------- */
/* Ref: http://b4t.jp/p_blog/article.php?id=823 */
div#content .markdown pre code.AA {
	/*font-size: 12pt;
	line-height: 18px;
	↑のほうがベストだけど、でかすぎる*/
	font-size: 10px;
	line-height: 5px;
	font-style: normal;
	font-weight: normal;
	letter-spacing : 0;
}
/* Opera */
div#content .markdown pre code.AA{
	font-family:"IPA モナー Pゴシック","IPA mona PGothic","IPA MONAPGOTHIC",IPAMonaPGothic,Mona,"MS PGothic AA","ＭＳ Ｐゴシック","MS Pゴシック","ＭＳＰゴシック","MSPゴシック","MS Pｺﾞｼｯｸ","MS PGothic",sans-serif;
}
/* firefox */
:-moz-read-only div#content .markdown pre code.AA{
	font-family:Mona,"MS PGothic AA","ＭＳ Ｐゴシック","MS PGothic","MS Pｺﾞｼｯｸ","MS Pゴシック","ＭＳＰゴシック","MSPゴシック","IPA モナー Pゴシック","IPA mona PGothic","IPA MONAPGOTHIC",IPAMonaPGothic,sans-serif;
}
/* safari */
@media screen and (-webkit-min-device-pixel-ratio:0){
div#content .markdown pre code.AA {
	font-family:"MS PGothic AA","ＭＳ Ｐゴシック","MS PGothic","MS Pｺﾞｼｯｸ","MS Pゴシック","ＭＳＰゴシック","MSPゴシック",IPAMonaPGothic,"IPA モナー Pゴシック","IPA mona PGothic","IPA MONAPGOTHIC",Mona,sans-serif;
}
}
/* IE */
div#content .markdown pre code.AA{
	_font-family:Mona,"IPA モナー Pゴシック","IPA mona PGothic","IPA MONAPGOTHIC",IPAMonaPGothic,"MS PGothic AA","ＭＳ Ｐゴシック","MS Pゴシック","MS PGothic","MS Pｺﾞｼｯｸ","ＭＳＰゴシック","MSPゴシック",sans-serif;
}
*:first-child+html div#content .markdown pre code.AA{
	font-family:Mona,"IPA モナー Pゴシック","IPA mona PGothic","IPA MONAPGOTHIC",IPAMonaPGothic,"MS PGothic AA","ＭＳ Ｐゴシック","MS Pゴシック","MS PGothic","MS Pｺﾞｼｯｸ","ＭＳＰゴシック","MSPゴシック",sans-serif;
}

/* tiny ------------------------------------------------------------------------------------- */
.markdown.tiny h1,
.markdown.tiny h2,
.markdown.tiny h3,
.markdown.tiny h4,
.markdown.tiny h5,
.markdown.tiny h6{
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
	background: none !important;
	font-size: 1.2em !important;
}