@charset "utf-8";

div#content table.announcement-footer{
	width: 157px;
	margin-left: 366px;
	font-size: 0.8em;
	line-height: 1.2em;
}
div#content table.announcement-footer th,
div#content table.announcement-footer td{
	border: none;
	padding: 0;
	text-align: right;
}
