{% load tweets %}
{% load parser %}
{% with tweet.author as author %}
{% with author.get_profile as profile %}
<div class="tweet-profile-icon">
	<a href="{{ profile.get_absolute_url }}" class="fenced middle filled">
		<span></span>{{ profile.get_icon_middle_display }}
	</a></div>
<div class="tweet-name">
	<p class="tweet-username"><a href="{{ profile.get_absolute_url }}">{{ author.username }}</a></p>
	<p class="tweet-nickname">{{ profile.nickname }}</p>
</div>
<div class="tweet-body">
	<p>{{ tweet.body|parse_tweet }}</p>
	{% yfrog_images tweet.body -1 'colorbox' %}
	{% twitpic_images tweet.body -1 'colorbox' %}
</div>
<div class="tweet-footer">
	<p class="tweet-time">
		<a href="{{ tweet.get_absolute_url }}">{{ tweet.created_at|tweettimesince }}</a>
	</p>
	<p class="tweet-source"><a href="{{ tweet.get_absolute_url }}">{{ tweet.get_source_display }}</a> から</p>
	{% if tweet.reply %}
	<p class="tweet-reply"><a href="{{ tweet.reply.get_absolute_url }}">@{{ tweet.reply.author.username }}宛</a></p>
	{% endif %}
	<div class="tweet-tools">
		<p class="favorite-button {% if request.user in tweet.users.all %}delete{% else %}add{% endif %}">
			<a href="javascript:void(0);" onclick="favoriteTweet('{% url tweets-tweet-favorite %}', '{{ tweet.pk }}');">
				お気に入り
			</a>
		</p>
		<p class="retweet-button">
			<a href="javascript:void(0);" onclick="reTweet('{{ tweet.pk }}', '{{ author.username }}', '{{ tweet.body }}');">
				リツイート
			</a>
		</p>
		<p class="reply-button">
			<a href="javascript:void(0);" onclick="replyTweet('{{ tweet.pk }}','{{ author.username }}');">
				返信
			</a>
		</p>
		{% if tweet.author == user %}
		<p class="delete-button">
			<a
				title="このツイートを削除する"
				href="javascript:void(0);"
				onclick="deleteTweet('{% url tweets-tweet-delete tweet.pk %}')"
			>削除</a>
		</p>
		{% endif %}
	</div>
	<ul class="tweet-favorites hlist">
		{% for favorite_user in tweet.users.all %}
			<li class="favorite-user" id="favorite-user{{ favorite_user.pk }}">
				<a href="{{ favorite_user.get_absolute_url }}" alt="{{ favorite_user.get_profile.nickname }}" class="fenced small">
					{{ favorite_user.get_profile.get_icon_small_display }}
				</a>
			</li>
		{% endfor %}
	</ul>
</div>
{% endwith %}
{% endwith %}