{% extends "announcements/base.html" %}
{% load get_archives %}
{% load parser %}
{% load commons %}
{% load tagging %}

{% block title %}
	{{ object.title }}
{% endblock %}

{% block head %}
{% compressed_css 'announcements-announcement-detail' %}
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	<li><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></li>
{% endblock %}

{% block content %}
<h2 class="announcement-title">{{ object.title }}</h2>

<div class="announcement-body markdown">
	{{ object.body|parse }}
</div>
{% render_tagging_tags for object %}

<table class="announcement-footer">
	<tr>
		<th>作成日</th>
		<td>{{ object.created_at|date }}</td>
	</tr>
	<tr>
		<th>更新日</th>
		<td>{{ object.updated_at|date }}</td>
	</tr>
</table>
{% endblock %}