{% extends "announcements/base.html" %}
{% load get_archives %}

{% block title %}
	お知らせの一覧
{% endblock %}

{% block head %}
{% compressed_css 'pagination' %}
{% endblock %}

{% block content %}
<h2>おしらせ一覧</h2>
<p>Kawaz運営からのお知らせ一覧です</p>
<table class="announcements">
	{% for announcement in object_list %}
	<tr>
		<th>{{ announcement.created_at|date:"m/d (D)" }}</th>
		<td><a href="{{ announcement.get_absolute_url }}">{{ announcement.title }}</a></td>
	</tr>
	{% empty %}
	<tr>
		<td colspan="2">お知らせはありません</td>
	</tr>
	{% endfor %}
</table>
{% include "components/pagination.html" %}
{% endblock %}