{% extends "base.html" %}
{% load get_archives %}
{% load commons %}

{% block breadcrumbs %}
	{{ block.super }}
	<li><a href="{% url announcements-announcement-list %}">お知らせの一覧</a></li>
{% endblock %}

{% block action %}
{% ifhsp 'announcements.add_announcement','announcements.change_announcement','announcements.delete_announcement' of object for user %}
<h3>管理</h3>
<ul class="ilist">
	{% ifhsp 'announcements.add_announcement' for user %}
	<li class="announcements-announcement-create"><a href="{% url announcements-announcement-create %}">新規作成</a></li>
	{% endifhsp %}
	{% if object %}
	{% ifhsp 'announcements.change_announcement' of object for user %}
	<li class="announcements-announcement-update"><a href="{% url announcements-announcement-update object.pk %}">編集する</a></li>
	{% endifhsp %}
	{% ifhsp 'announcements.delete_announcement' of object for user %}
	<li class="announcements-announcement-delete"><a href="{% url announcements-announcement-delete object.pk %}">削除する</a></li>
	{% endifhsp %}
	{% endif %}
</ul>
{% endifhsp %}

{% if object %}
<h3>添付ファイル一覧</h3>
{% get_materials for object.body as materials %}
<ul class="ilist">
	{% for material in materials %}
	<li class="commons-material-detail">{{ material.get_title_display }}</li>
	{% empty %}
	<li class="commons-material-detail">添付されているファイルはありません</li>
	{% endfor %}
</ul>
{% endif %}

<h3>アーカイブ</h3>
{% get_monthly_archives of 'announcements.announcement' with 'updated_at' as archives %}
<ul class="ilist">
	{% for archive in archives %}
	<li class="archives"><a href="{% reverse 'announcements-announcement-archive-month' year=archive.date.year,month=archive.date.month %}">
		{{ archive.date|date:"Y年m月" }} ({{ archive.count }})
	</a></li>
	{% empty %}
	<li class="archives">アーカイブは存在しません</li>
	{% endfor %}
</ul>
{% endblock %}