{% extends "registration/base.html" %}
{% load uni_form_tags %}

{% block title %}パスワードリセット{% endblock %}

{% block head %}
{% compressed_css 'uni-form' %}
{% compressed_js 'uni-form' %}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url auth_password_reset %}">パスワードリセット</a></li>
{% endblock %}

{% block content %}
<h2>パスワードリセット</h2>
<p>入力されたメールアドレスにパスワードをリセットするためのURLを送信します。</p>
<form action="" method="post" class="uniForm">{% csrf_token %}
	{{ form|as_uni_form }}
	<div class="buttonHolder">
		<button type="submit" class="primaryAction">パスワードリセットURLを請求</button>
		<button type="button" class="secondaryAction back-button">←キャンセルして戻る</button>
	</div>
</form>
{% endblock %}