{% extends "registration/base.html" %}
{% load uni_form_tags %}

{% block title %}パスワードの再設定{% endblock %}

{% block head %}
{% compressed_css 'uni-form' %}
{% compressed_js 'uni-form' %}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li>パスワードの再設定</li>
{% endblock %}


{% block content %}
<h2>パスワードの再設定</h2>
{% if validlink %}
<p>下記に新しいパスワードを入力してください</p>
<form action="" method="post" class="uniForm">{% csrf_token %}
	{{ form|as_uni_form }}
	<div class="buttonHolder">
		<button type="submit" class="primaryAction">パスワードを変更</button>
		<button type="button" class="secondaryAction back-button">←キャンセルしてもどる</button>
	</div>
</form>
{% else %}
<p>パスワードの再設定に失敗しました。
このURLはすでに有効ではない可能性があります。
もう一度<a href="{% url auth_password_reset %}">パスワードリセット</a>を行なってください。</p>
{% endif %}
{% endblock %}