{% extends "registration/base.html" %}
{% load uni_form_tags %}

{% block title %}新規会員登録{% endblock %}

{% block head %}
{% compressed_css 'uni-form' %}
{% compressed_js 'uni-form' %}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url registration_register %}">新規会員登録</a></li>
{% endblock %}

{% block content %}

<h2>新規会員登録</h2>

<p>Kawazコミュニティーに新規入会するためには条件が存在します。
<a href="/rules/">利用規約</a>をよくお読みになった上で登録申請をしてください。
<strong>利用規約に反している場合は申請が認可されない</strong>場合があります。</p>
<p>また申請の認可は管理者が手作業で行っているため応答メールの送信が遅れる場合がございます。
何卒ご了承ください。</p>

<form action="" method="post" class="uniForm">{% csrf_token %}
	{{ form|as_uni_form }}
	<div class="buttonHolder">
		<button type="submit" class="primaryAction">登録申請</button>
		<button type="button" class="secondaryAction back-button">←キャンセルしてもどる</button>
	</div>
</form>

{% endblock %}
