{% extends "wikis/base.html" %}
{% load uni_form_tags %}

{% block title %}
	{% if object %}{{ object.title }}の編集
	{% else %}{% if 'title' in request.GET %}{{ request.GET.title }}の作成
	{% else %}記事の作成{% endif %}
	{% endif %}
{% endblock %}

{% block head %}
{{ block.super }}
{% compressed_css 'markitupfield' %}
{% compressed_js 'markitupfield' %}
{% compressed_css 'uni-form' %}
{% compressed_js 'uni-form' %}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% if object %}
	<li><a href="{% url wikis-entry-detail project.slug object.title %}">{{ object.title }}</a></li>
	<li><a href="{% url wikis-entry-update project.slug object.title %}">編集</a></li>
{% else %}
	<li><a href="{% url wikis-entry-create project.slug %}">新規作成</a></li>
{% endif %}
{% endblock %}

{% block content %}
<h2>
	{% if object %}{{ object.title }}の編集
	{% else %}{% if 'title' in request.GET %}{{ request.GET.title }}の作成
	{% else %}記事の作成{% endif %}
	{% endif %}
</h2>
<form action="" method="post" class="uniForm">{% csrf_token %}
	{{ form|as_uni_form }}
	<div class="buttonHolder">
		<button type="button" class="secondaryAction back-button">←キャンセルし戻る</button>
		{% if not object %}
		<button type="button" class="primaryAction draft-button">下書きとして保存</button>
		{% endif %}
		<button type="submit" class="primaryAction">{% if object %}変更を反映{% else %}保存して公開{% endif %}</button>
	</div>
</form>
{% endblock %}
