{% extends "wikis/base.html" %}
{% load parser %}
{% load wikis %}

{% block title %}
	{% if object.title == 'index' %}{{ project.title }}{% else %}{{ object.title }}{% endif %}
{% endblock %}

{% block head %}
{{ block.super }}
{% compressed_css 'markitupfield' %}
{% compressed_css 'uni-form' %}
{% compressed_css 'comments' %}
{% compressed_js 'markitupfield' %}
{% compressed_js 'uni-form' %}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></li>
{% endblock %}

{% block content %}
<h2>
	{% if object.title == 'index' %}
	トップページ
	{% else %}
	{{ object.title }}
	{% endif %}
</h2>
	
<div class="entry-body markdown">
	{{ object.body|parse|wikilinks:object }}
</div>

{% include "comments/components/sets.html" %}
{% endblock %}
