{% load i18n %}
<link rel="stylesheet" href="/css/plugins/django.star.css" type="text/css" media="screen, projection"/>
<script type="text/javascript" src="/javascript/django/django.star.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('div.django-star').djangoStar({
			'add' : {
				'caption' : "{% trans "Add Star" %}"
			},
			'del' : {
				'message' : "{% trans "Are you sure you want to delete this star?" %}"
			},
			'logged_in' : "{{ user.is_authenticated }}",
			'user_id' : "{{ user.pk }}"
		});
	});
</script>
