{% extends "bugwaz/product_base.html" %}

{% block title %}Bugwaz対象プロダクト一覧{% endblock %}

{% block content %}
<h2>Bugwaz</h2>
<h3>Bugwazとは？</h3>
<p>Kawazで管理しているプロジェクトで作成されたアプリケーションのバグトラッキングシステムです。
Kawazでプロジェクトを作成すると自動的にBugwaz対象プロダクトも生成されリンクされます</p>
<p><strong>この機能はまだベータバージョンです</strong></p>
<h3>管理プロジェクト一覧</h3>
<ul class="products ilist">
	{% for product in object_list %}
	<li class="product bugwaz-product-detail">
		<a href="{{ product.get_absolute_url }}">{{ product.label }}</a><br />
		<small>{{ product.body|striptags|truncateletters:200 }}</small>
	</li>
	{% empty %}
	<li class="product">Bugwaz対象プロダクトが存在しません</li>
	{% endfor %}
</ul>
{% endblock %}