{% extends 'bugwaz/product_base.html' %}
{% load typeimg %}

{% block title %}{{ object.label }}の削除確認{% endblock %}

{% block head %}
{% compressed_css 'uni-form' %}
{% compressed_js 'uni-form' %}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url bugwaz-product-detail object.pk %}">{{ object.label }}</a></li>
<li><a href="{% url bugwaz-product-delete object.pk %}">削除確認</a></li>
{% endblock %}

{% block content %}
<h2>{{ object.label }}の削除確認</h2>
<p>本当に{{ object.label }}を削除してもよろしいですか？以下のオブジェクトも同様に削除されます</p>
<ul class="ilist">
	{% for component in object.components.all %}
	<li class="manual"><a href="{{ component.get_absolute_url }}">{% render_ctimg for component %}{{ component.label }}</a></li>
	{% endfor %}
	{% for version in object.versions.all %}
	<li class="manual"><a href="{{ version.get_absolute_url }}">{% render_ctimg for version %}{{ version.label }}</a></li>
	{% endfor %}
	{% for report in object.reports.all %}
	<li class="manual"><a href="{{ report.get_absolute_url }}">{% render_ctimg for report %}{{ report.label }}</a></li>
	{% endfor %}
</ul>
<form action="" method="post" class="uniForm">{% csrf_token %}
	<div class="buttonHolder">
		<button type="button" class="secondaryAction back-button">←キャンセルして戻る</button>
		<button type="submit" class="primaryAction">削除</button>
	</div>
</form>
{% endblock %}
