{% extends 'bugwaz/product_base.html' %}
{% load parser %}
{% load bugwaz %}

{% block title %}{{ object.label }}{% endblock %}

{% block head %}
{% compressed_css 'bugwaz-product-detail' %}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url bugwaz-product-detail object.pk %}">{{ object.label }}</a></li>
{% endblock %}

{% block content %}
<h2 class="product-label">{{ object.label }}</h2>

<div class="product-body">
	{{ object.body|parse }}
</div>

<div class="product-components">
<h3>コンポーネント一覧</h3>
<ul class="ilist">
	{% for component in object.components.all|slice:":5" %}
	<li class="bugwaz-component-detail"><a href="{{ component.get_absolute_url }}">{{ component.label }}</a></li>
	{% empty %}
	<li class="bugwaz-component-detail">コンポーネントは登録されていません</li>
	{% endfor %}
</ul>
<p class="more"><a href="{% url bugwaz-component-list object.pk %}">もっと見る</a></p>
</div>

<div class="product-versions">
<h3>バージョン一覧</h3>
<ul class="ilist">
	{% for version in object.versions.all|slice:":5" %}
	<li class="bugwaz-version-detail"><a href="{{ version.get_absolute_url }}">{{ version.label }}</a></li>
	{% empty %}
	<li class="bugwaz-version-detail">バージョンは登録されていません</li>
	{% endfor %}
</ul>
<p class="more"><a href="{% url bugwaz-version-list object.pk %}">もっと見る</a></p>
</div>

<div class="product-reports">
<h3>未修正レポート一覧</h3>
{% get_active_report_list for object as active_report_list %}
<ul class="ilist reports">
	{% for report in active_report_list|slice:":20" %}
	<li class="report bugwaz-report-status-{{ report.status }}">
		{% include "bugwaz/components/report-list-item.html" %}
	</li>
	{% empty %}
	<li class="report empty bugwaz-report-detail">レポートは登録されていません</li>
	{% endfor %}
</ul>
<p class="more"><a href="{% url bugwaz-report-list object.pk %}">もっと見る</a></p>
</div>
{% endblock %}