{% extends 'bugwaz/report_base.html' %}
{% load uni_form_tags %}
{% load parser %}
{% load comments %}

{% block title %}{{ object.label }} - {{ product.label }}{% endblock %}

{% block head %}
{{ block.super }}
{% compressed_css 'uni-form' %}
{% compressed_js 'uni-form' %}
{% compressed_css 'comments' %}
{% compressed_css 'markitupfield' %}
{% compressed_js 'markitupfield' %}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url bugwaz-report-detail product.pk object.pk %}">{{ object.label }}</a></li>
{% endblock %}

{% block content %}
<h2 class="report-label">{{ object.label }}</h2>
<div class="report-body">
	{{ object.body|parse }}
</div>

{% include "comments/components/sets.html" %}
{% endblock %}
