{% extends 'bugwaz/report_base.html' %}
{% load uni_form_tags %}
{% load parser %}

{% block title %}
{% if object %}{{ object.label }}の編集{% else %}バグ報告{% endif %}
{{ block.super }}
{% endblock %}

{% block head %}
{{ block.super }}
{% compressed_css 'uni-form' %}
{% compressed_js 'uni-form' %}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% if object %}
<li><a href="{% url bugwaz-report-detail product.pk object.pk %}">{{ object.label }}</a></li>
<li><a href="{% url bugwaz-report-update product.pk object.pk %}">編集</a></li>
{% else %}
<li><a href="{% url bugwaz-report-create product.pk %}">バグ報告</a></li>
{% endif %}
{% endblock %}

{% block content %}
{% if object %}
<h2>{{ object.label }}の編集</h2>
{% else %}
<h2>バグ報告</h2>

{{ product.rules|parse|default:"<p>バグ報告を行う場合はバグが再現できるように再現手順を事細かに記載するようおねがいします</p>" }}

{% endif %}

<form action="" method="post" class="uniForm">{% csrf_token %}
	{{ form|as_uni_form }}
	<div class="buttonHolder">
		<button type="button" class="secondaryAction back-button">←キャンセルして戻る</button>
		<button type="submit" class="primaryAction">{% if object %}設定を反映{% else %}保存して公開{% endif %}</button>
	</div>
</form>
{% endblock %}
