@charset "utf-8";

ul.events{
	margin: 0;
	padding: 0;
}
ul.events li.event{
	padding: 0;
	background: inherit;
	list-style: none;
}
ul.events li.event h3{
	padding-left: 20px !important;
	background: url(/css/icon/events-event-detail.png) no-repeat 0 0 !important;
}
ul.events li.event table.event-detail{
	float: left;
	margin: 0 26px 0 0;
	width: 279px;
}
ul.events li.event table.event-detail th{
	width: 45px;
}
ul.events li.event table.event-detail td ul{
	margin: 0;
	padding: 0;
}
ul.events li.event table.event-detail td li{
	list-style: none;
}
ul.events li.event h4{
	margin: 0 0 5px 0;
	font-size: 1.0em;
}
ul.events li.event ul.event-comments{
	margin: 0 0 0 305px;
}
ul.events li.event ul.event-comments:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html ul.events li.event ul.event-comments
{ zoom: 1; } /* IE6 */
*:first-child+html ul.events li.event ul.event-comments
{ zoom: 1; } /* IE7 */