{% extends 'utilities/base.html' %}
{% load threestep_registration %}

{% block content %}
<h3>情報関係</h3>
<ul class="ilist">
	{% if user.is_staff %}
	<li class="utilities-subversion">
		<a href="{% reverse 'utilities-subversion' %}">リポジトリ情報</a><br />
		<small>Kawazのリポジトリ情報を表示します</small>
	</li>
	<li class="utilities-template-check">
		テンプレートチェック<br />
		<small>エラーページなどのテンプレートの描画確認を行います
		<ul>
			<li><a href="{% reverse 'utilities-template-check' '403.html' %}">403 - Forbidden</a></li>
			<li><a href="{% reverse 'utilities-template-check' '404.html' %}">404 - Not found</a></li>
			<li><a href="{% reverse 'utilities-template-check' '500.html' %}">500 - Internal Server Error</a></li>
		</ul>
		</small>
	</li>
	{% endif %}
	{% if user.is_superuser %}
	<li class="utilities-configure">
		<a href="{% reverse 'utilities-configure' %}">設定確認</a><br />
		<small>Kawazの起動時設定などの情報を表示します</small>
	</li>
	{% endif %}
</ul>

<h3>コンテンツ関係</h3>
<ul class="ilist">
	{% ifhsp 'announcements.add_announcement' for user %}
	<li class="announcements-announcement-create">
		<a href="{% reverse 'announcements-announcement-create' %}">お知らせ作成</a><br />
		<small>運営からのお知らせを作成します</small>
	</li>
	{% endifhsp %}
	{% ifhsp 'flatpages.view_flatpage' for user %}
	<li class="flatpages-flatpage-list">
		<a href="{% reverse 'flatpages-flatpage-list' %}">フラットページ一覧</a><br />
		<small>フラットページの一覧を表示します</small>
	</li>
	{% endifhsp %}
</ul>

<h3>認証関係</h3>
<ul class="ilist">
	{% if user.is_staff %}
	<li class="messages-message-detail">
		<a href="{% reverse 'utilities-email' %}">メール送信</a><br />
		<small>Kawazに登録しているユーザーに対してメールを送信します</small>
	</li>
	{% endif %}
	{% ifhsp 'threestep_registration.view_registrationprofile' for user %}
	<li class="profiles-profile-list">
		{% get_registration_user_count as registration_user_count %}
		<a href="{% reverse 'registration_list' %}">登録プロファイル一覧{% if registration_user_count %}({{ registration_user_count }}人){% endif %}</a><br />
		<small>Kawazに新規登録して管理者の承認を待っているユーザーの一覧です</small>
	</li>
	<li class="profiles-profile-list">
		<a href="{% reverse 'registration_csv_registration' %}">CSVから自動登録</a><br />
		<small>CSVファイルから自動的に複数のユーザーを強制的に登録します</small>
	</li>
	{% endifhsp %}
	{% ifhsp 'permissiongroups.view_permissiongroup' for user %}
	<li class="permissiongroups-permissiongroup-list">
		<a href="{% reverse 'permissiongroups-permissiongroup-list' %}">パーミッショングループ一覧</a><br />
		<small>Kawazユーザーが所属するパーミッショングループの一覧です</small>
	</li>
	{% endifhsp %}
</ul>

<h3>データーベース関係</h3>
<ul class="ilist">
	{% if user.is_superuser %}
	<li class="utilities-resave-all">
		<a href="{% url utilities-resave %}">データーベースの再保存</a><br />
		<small>自動的に保存した値を確定される場合などに用いるツールです</small>
	</li>
	<li class="utilities-remodify-object-permission">
		<a href="{% url utilities-remodify-object-permission %}">オブジェクトパーミッションの再設定</a><br />
		<small>オブジェクトパーミッションの再設定を行うツールです</small>
	</li>
	<li class="utilities-fixture">
		<a href="{% url utilities-fixture %}">データーベースのダウンロード</a><br />
		<small>現在データーベースに登録されている全データを指定したフォーマットでダウンロードします</small>
	</li>
	{% else %}
	<li class="manual">データーベース関係のツールの実行にはスーパーユーザー権限が必要です</li>
	{% endif %}
</ul>
{% endblock %}