{% extends "base.html" %}
{% load projects %}

{% block action %}
<h3>ログイン</h3>
<form action="{% url auth_login %}" method="post" class="uniForm">{% csrf_token %}
    <label for="id_username">ユーザー名:</label> <input type="text" id="id_username" name="username" maxlength="30" class="span-3" />
    <label for="id_password">パスワード:</label> <input type="password" id="id_password" name="password" class="span-3" />
    <input type="submit" value="ログイン" />
</form>
<small><a href="{% url registration_register %}">新規会員登録</a></small><br />
<small><a href="{% url auth_password_reset %}">パスワードを忘れた</a></small>
{% endblock %}

{% block content %}
<h2>旧"ゲーム製作者コミュニティin札幌"の皆様へ</h2>
お知らせ、およびご説明いたします。<br>
<li>旧「ゲーム製作者コミュニティin札幌」は「札幌ゲーム製作者コミュニティ”Kawaz”」に名称を変更しました。</li>
<li>それに合わせまして、旧ポータルサイト（　現在はこのページにリダイレクトされます→<a href="http://www.gccsap.com/">http://www.gccsap.com/</a>　）を稼動停止し、この新ポータルサイトに移行しました。</li>
<li>サイト移行の際、<b>アカウントを含めた旧ポータルサイトのすべての情報は、データベースの変更のため一切引き継がれておりません。</b></li>
<br>
つきましては、この新ポータルサイトへの登録は任意で申請していただくことになります。<br>
<b>今後も札幌でメンバーとともにゲーム製作に関わっていただける方は、
<a href="http://www.kawaz.org/about/">About us</a>や
<a href="http://www.kawaz.org/rules/">利用規約</a>をよくお読みになった上で、
是非とも<a href ="http://kawaz.org/accounts/register/">新規会員登録</a>をこちらから行ってください。</b><br>
<br>
末筆ですが、これからKawazに登録される方もされない方も、今まで「ゲーム製作者コミュニティin札幌」に参加していただけたことを<b>心から感謝申し上げます。</b><br>
<br>
geekdrums<br>
<br>
<h2>札幌ゲーム製作者コミュニティ"Kawaz"とは？</h2>
<p>Kawazは非常に大きな組織となってしまったためそれを一言で述べるのは不可能に近い。しかしながら有名なWikipediaにて概略を余すところなくまとめてあるのが
発見できたので以下に引用する。</p>
<blockquote>
    <p>カエル（蛙）とは、脊椎動物亜門・両生綱・カエル目（無尾目）に分類される動物の総称。古称としてかわず
    （旧かな表記では「かはづ」）などがある。成体の頭は三角形で、目は上に飛び出している。胴体は丸っこく、尾はない。</p>
    <p>後肢が特に発達しており、後肢でジャンプすることで、敵から逃げたり、エサを捕まえたりする。後肢の指の間に水掻きが発達するものが多く、
    これを使ってよく泳ぐ。ほとんどの種で肋骨がない前肢は人間の腕に似た形状をしているが、ジャンプからの着地の際に身体への衝撃を和らげるのが主な役目である。</p>
    <p>餌となる小動物に飛びついて両肢で押さえつけたり、冬眠などのために土砂を掘ったり、汚れ落としのために片肢で顔を拭いたりする動作も可能である。</p>
    <p>アオガエル科やアマガエル科などの樹上生活をする種の多くでは指先に吸盤が発達し、
    その補助で細い枝などに掴まることはできるが、人間やサルのように物を片肢ないし両肢で掴み取ることはできない。幼生は四肢がなく、
    ひれのついた尾をもつ。成体とはちがう姿をしていて、俗に「オタマジャクシ（お玉杓子）」と呼ばれる（食器のお玉杓子に似た形状から）。</p>
    <p>オタマジャクシはえら呼吸を行い、尾を使って泳ぐため、淡水中でないと生きることができない。オタマジャクシは変態することで、
    尾をもたず肺呼吸する、四肢をもった幼体（仔ガエル）となる。</p>
    <cite><a href="http://ja.wikipedia.org/wiki/%E3%82%AB%E3%82%A8%E3%83%AB">Wikipedia</a>より引用</cite>
</blockquote>
<p>このようにKawazとは札幌でゲーム製作活動を行う人を結ぶためのコミュニティである。
初心者の学生からすでに現場で活躍するプロまで幅広い層のメンバーが所属している。
また、当コミュニティから派生して作られた、<a href="http://namaz.netgamers.jp/">名古屋ゲーム製作者コミュニティ"Namaz"</a>も存在し、活動を開始している。</p>

<h2>活動内容</h2>
<p>Kawazでは主に以下のようなことを行う</p>
<ul>
    <del><li>焼肉が食べたいがひとりでは怖いのでみんなで食べる</li></del>
    <li>現在の活動については、上のメニューから
<a href="http://www.kawaz.org/projects/">Projects</a>や
<a href="http://www.kawaz.org/events/">Events</a>などをご確認ください。</li>
    <li>詳しくは<a href="http://www.kawaz.org/about/">About us</a>をご覧ください</li>

</ul>
{% endblock %}