{% extends "base.html" %}
{% load calls %}
{% load drafts %}
{% load events %}
{% load history %}
{% load projects %}
{% load typeimg %}
{% load tweets %}
{% load messages %}
{% load tasks %}
{% load bugwaz %}

{% block title %}マイページ{% endblock %}

{% block head %}
{% compressed_css "index-authenticated" %}
{% compressed_js "index-authenticated" %}
{% compressed_js "pagenator" %}
{% endblock %}

{% block summary %}
{% with user.get_profile as profile %}
{% include "profiles/components/overview-summary.html" %}
{% endwith %}
{% endblock %}

{% block action %}
{% get_progress_task_list request for user as task_list %}
{% if task_list %}
<h3>タスク</h3>
<ul class="ilist">
	{% for task in task_list|slice:":3" %}
	<li class="tasks-task-status-{{ task.status }}">
		<a href="{{ task.get_absolute_url }}">{{ task.title }}</a>
		<table>
			<tr>
				<th>重要度</th>
				<td>{{ task.get_priority_display }}</td>
			</tr>
			<tr>
				<th>締切り</th>
				<td>{{ task.deadline|date:"Y/m/d"|default:"未設定" }}</td>
			</tr>
		</table>
	</li>
	{% endfor %}
</ul>
{% if task_list|length > 3 %}
<p class="more"><a href="{% reverse 'tasks-task-list' %}">もっと見る</a></p>
{% endif %}
{% endif %}

<h3>新しく作る</h3>
<ul class="ilist">
	{% ifhsp 'blogs.add_entry' for user %}
	<li class="blogs-entry-create"><a href="{% reverse 'blogs-entry-create' user %}">ブログを書く</a></li>
	{% endifhsp %}
	{% ifhsp 'threads.add_thread' for user %}
	<li class="threads-thread-create"><a href="{% reverse 'threads-thread-create' %}">スレッドを立てる</a></li>
	{% endifhsp %}
	{% ifhsp 'events.add_event' for user %}
	<li class="events-event-create"><a href="{% reverse 'events-event-create' %}">イベントを企画</a></li>
	{% endifhsp %}
	{% ifhsp 'projects.add_project' for user %}
	<li class="projects-project-create"><a href="{% reverse 'projects-project-create' %}">プロジェクトを発足</a></li>
	{% endifhsp %}
	{% ifhsp 'commons.add_material' for user %}
	<li class="commons-material-create"><a href="{% reverse 'commons-material-create' %}">素材を投稿</a></li>
	{% endifhsp %}
	{% ifhsp 'messages.add_message' for user %}
	<li class="messages-message-create"><a href="{% reverse 'messages-message-create' %}">メッセージを送る</a></li>
	{% endifhsp %}
</ul>

<h3>自分の情報を見る</h3>
<ul class="ilist">
	<li class="profiles-profile-detail"><a href="{% reverse 'profiles-profile-detail' user %}">プロフィール</a></li>
	{% ifhsp 'messages.view_message' for user %}
	{% get_unread_message_count for user as unread_message_count %}
	<li class="messages-message-list"><a href="{% reverse 'messages-message-recived' %}">受信トレイ{% if unread_message_count %}({{ unread_message_count }}){% endif %}</a></li>
	{% endifhsp %}
	{% get_unaccepted_task_count request for user as unaccepted_task_count %}
	<li class="tasks-task-list"><a href="{% reverse 'tasks-task-list' %}">タスク一覧{% if unaccepted_task_count %}({{ unaccepted_task_count }}){% endif %}</a></li>
	<li class="blogs-entry-list"><a href="{% reverse 'blogs-entry-list' user %}">ブログ</a></li>
	{% get_drafts_count request as drafts_count %}
	<li class="drafts-draft-list"><a href="{% reverse 'drafts-draft-list' %}">下書き{% if drafts_count %}({{ drafts_count }}){% endif %}</a></li>
</ul>

<h3>設定を変える</h3>
<ul class="ilist">
	<li class="profiles-profile-update"><a href="{% reverse 'profiles-profile-update' %}">プロフィールを更新</a></li>
	<li class="auth-password-update"><a href="{% reverse 'auth_password_change' %}">パスワードを変更</a></li>
	<li class="auth-password-reset"><a href="{% reverse 'auth_password_reset' %}">パスワードをリセット</a></li>
</ul>

{% get_projects request for user as projects %}
{% if projects.count > 0 %}
{% for project in projects %}
<h3 class="projects-project-detail"><a href="{{ project.get_absolute_url }}">{{ project.title|truncateletters:8 }}</a></h3>
<ul class="ilist">
	<li class="wikis-entry-list"><a href="{% url wikis-entry-detail project.slug %}">ウィキトップ</a></li>
	{% get_active_task_count request for project as active_task_count %}
	<li class="tasks-task-list"><a href="{% url tasks-task-list project.slug %}">タスク一覧{% if active_task_count %}({{ active_task_count }}){% endif %}</a></li>
	<li class="commons-material-list"><a href="{% reverse 'commons-material-list' project=project.slug %}">素材一覧</a></li>
	{% get_active_report_count for project.bugwaz as active_report_count %}
	<li class="bugwaz-report-list"><a href="{{ project.bugwaz.get_absolute_url }}">Bugwaz{% if active_report_count %}({{ active_report_count }}){% endif %}</a></li>
</ul>
{% endfor %}
{% endif %}
{% endblock %}

{% block content %}
{% if 'MSIE' in request.META.HTTP_USER_AGENT %}
<div class="do-not-use-bloody-stupid-browser">
	<h2><strong>非常に大切なお知らせ</strong></h2>
	<p><strong>あなたがご利用のインターネットエクソプローラー（Sleipnirも含む）はセキュリティリスク・バグ・速度的問題など多数の問題を抱えています。</strong>
	Kawazがこのインターネットエクソプローラーに対応するためにはKawaz自体の重要な機能を排除する必要があるため、インターネットエクソプローラー
	への対応は行っておりません。したがって<strong>この機会にブラウザを他のものに変えることを強くおすすめいたします。</strong></p>
	<h3>おすすめブラウザ一覧</h3>
	<dl>
		<dt><a href="http://www.google.co.jp/chrome/intl/ja/landing_ch_yt.html?hl=ja&brand=CHMA&utm_campaign=ja&utm_source=ja-ha-apac-jp-bk&utm_medium=ha&utm_term=chrome">
			Google Chrome</a></dt>
		<dd>
			このブラウザに乗り換えるだけで様々なWebサイトの表示が早くなります。有名なGoogleが開発したブラウザです。
		</dd>
		<dt><a href="http://mozilla.jp/firefox/">Mozilla Firefox</a></dt>
		<dd>
			拡張機能をインストールすることで様々な便利機能を使うことができます。上級者におすすめです。
		</dd>
	</dl>
</div>
{% endif %}

{% get_calls for user as calls %}
{% if calls %}
<div id="calls">
	<h2 id="calls">おしらせ({{ calls.count }}件)</h2>
	<ul class="ilist">
		{% for call in calls %}
		<li class="manual">{% render_ctimg for call.content_type %}{{ call.get_message }}</li>
		{% endfor %}
	</ul>
	{#{% if calls.count > 3 %}#}
	<p class="more"><a href="{% reverse 'calls-call-clear' %}" class="postlink"
		confirm_message="本当にすべてのお知らせを既読にしてもよろしいですか？"
		success_message="すべてのお知らせを既読にしました">すべてのお知らせを既読にする</a></p>
	{#{% endif %}#}
</div><!-- /calls -->
{% endif %}

<h2 id="history">更新情報</h2>
{% get_history_timelines as timelines %}
<table class="timelines">
{% for timeline in timelines|slice:":10" %}
	<tr>
		{% include "history/components/list-item.html" %}
	</tr>
{% empty %}
	<tr><td colspan="2">更新情報はありません</td>
{% endfor %}
</table>
<p class="more"><a href="{% reverse 'history-timeline-list' %}">もっと見る</a></p>

<h2 id="tweets">かわずったー</h2>
{% ifhsp 'tweets.add_tweet' for user %}
<form id="tweet-form" action="{% url tweets-tweet-create %}" method="post">{% csrf_token %}
	<p><input type="hidden" id="id_reply" name="reply"></p>
	<p><input type="hidden" id="id_source" name="source" value="kawaz"></p>
	<p><textarea id="id_body" name="body" title="いまなにしてるの？" rows="1" cols="20"></textarea></p>
	<p><input type="submit" id="tweet-submit" value="つぶやく" /></p>
</form>
{% endifhsp %}
{% get_tweets as tweets %}
<ul class="tweets">
	{% for tweet in tweets|slice:":6" %}
	<li class="tweet{% if user in tweet.users.all %} tweet-favorite{% endif %}" id="tweet-{{ tweet.pk }}">
		{% include "tweets/components/list-item.html" %}
	</li>
	{% empty %}
	<li class="tweet empty">まだ誰もつぶやいていません</li>
	{% endfor %}
</ul>
{% if tweets|length >= 6 %}
<p class="more tweet-more"><a href="{% reverse 'tweets-tweet-list' %}">もっと読む</a></p>
{% endif %}
{% if not user.get_profile.twitter_token %}
<p class="twitter-auth twitter"><a href="{% reverse 'twitter_oauth_auth' %}">twitter連携を有効にする</a></p>
{% else %}
<p class="tips">Twitterで#Kawazをつけて呟くと、かわずったーに反映させることができます</p>
{% endif %}

<h2 id="events">参加中のイベント</h2>
{% get_events request for user as events %}
<ul class="events">
	{% for event in events %}
	<li class="event">
		{% include "events/components/list-item.html" %}
	</li>
	{% empty %}
	<li class="event empty">現在参加しているイベントはありません</li>
	{% endfor %}
</ul>

<h2 id="projects">参加中のプロジェクト</h2>
{% get_projects request for user as projects %}
<ul class="projects">
	{% for project in projects %}
	<li class="project">
		{% include "projects/components/list-item.html" %}
	</li>
	{% empty %}
	<li class="project empty">現在参加しているプロジェクトはありません</li>
	{% endfor %}
</ul>
{% endblock %}