{% extends "base.html" %}
{% load blogs %}
{% load get_archives %}

{% block head %}
{% compressed_css 'blogs-entry-base' %}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% if author %}
<li><a href="{% url blogs-entry-list %}">みんなのブログ</a></li>
<li><a href="{% url blogs-entry-list author %}">{{ author.get_profile.nickname }}さんのブログ</a></li>
{% else %}
<li><a href="{% url blogs-entry-list %}">みんなのブログ</a></li>
{% endif %}
{% endblock %}

{% block summary %}
{% if object %}
	{% with object as entry %}
	{% include "blogs/components/overview-summary.html" %}
	{% endwith %}
	{% with object.author.get_profile as profile %}
	{% include "profiles/components/overview-summary.html" %}
	{% endwith %}
{% elif author %}
	{% with author.get_profile as profile %}
	{% include "profiles/components/overview-summary.html" %}
	{% endwith %}
{% endif %}
{% endblock %}

{% block action %}
{% ifhsp 'blogs.add_entry','blogs.change_entry','blogs.delete_entry' of object for user %}
<h3>操作</h3>
<ul class="ilist">
	{% if object and user != object.author %}
	<li class="blogs-entry-reply"><a href="{% reverse 'blogs-entry-create' user %}?body=参照先: http://{{ request.get_host }}{{ object.get_absolute_url }}">返信日記を書く</a></li>
	{% elif not object or user == object.author %}
	<li class="blogs-entry-create"><a href="{% reverse 'blogs-entry-create' user %}">日記を書く</a></li>
	{% endif %}
	{% if object %}
	{% ifhsp 'blogs.change_entry' of object for user %}
	<li class="blogs-entry-update"><a href="{% reverse 'blogs-entry-update' author,object.pk %}">編集</a></li>
	{% endifhsp %}
	{% ifhsp 'blogs.delete_entry' of object for user %}
	<li class="blogs-entry-delete"><a href="{% reverse 'blogs-entry-delete' author,object.pk %}">削除</a></li>
	{% endifhsp %}
	{% endif %}
</ul>
{% endifhsp %}

<h3>最近の日記</h3>
{% if author %}
{% get_blog_entries request for author as entries %}
{% else %}
{% get_blog_entries request as entries %}
{% endif %}
<ul class="ilist">
	{% for entry in entries|slice:":5" %}
	<li class="blogs-entry-detail"><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
		{% if not author %}<br /><small>書いた人: {{ entry.author.get_profile.get_nickname_display }}さん{% endif %}</small></li>
	{% empty %}
	<li class="blogs-entry-detail">日記なし</li>
	{% endfor %}
</ul>

<h3>アーカイブ</h3>
{% if author %}
{% get_monthly_archives of 'blogs.entry' with 'publish_at' for author as archives %}
{% else %}
{% get_monthly_archives of 'blogs.entry' with 'publish_at' as archives %}
{% endif %}
<ul class="ilist">
	{% for archive in archives %}
	<li class="archives">
		{% if author %}
		<a href="{% reverse "blogs-entry-archive-month" author=author,year=archive.date.year,month=archive.date.month %}">
			{{ archive.date|date:"Y年m月" }} ({{ archive.count }})
		</a></li>
		{% else %}
		<a href="{% reverse "blogs-entry-archive-month" year=archive.date.year,month=archive.date.month %}">
			{{ archive.date|date:"Y年m月" }} ({{ archive.count }})
		</a></li>
		{% endif %}
	{% empty %}
	<li class="archives">アーカイブなし</li>
{% endfor %}
</ul>
{% endblock %}