{% extends "blogs/base.html" %}

{% block title %}
{% if author %}
	{{ author.get_profile.nickname }}さんの{{ day|date:"Y/m/d" }}に書かれた日記一覧
{% else %}
	{{ day|date:"Y/m/d" }}に書かれた日記一覧
{% endif %}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% if author %}
<li><a href="{% reverse 'blogs-entry-archive-year' author=author,year=day.year %}">アーカイブ ({{ day.year }})</a></li>
<li><a href="{% reverse 'blogs-entry-archive-month' author=author,year=day.year,month=day.month %}">{{ day|date:"m月" }}</a></li>
<li><a href="{% reverse 'blogs-entry-archive-day' author=author,year=day.year,month=day.month,day=day.day %}">{{ day|date:"d日" }}</a></li>
{% else %}
<li><a href="{% reverse 'blogs-entry-archive-year' year=day.year %}">アーカイブ ({{ day.year }})</a></li>
<li><a href="{% reverse 'blogs-entry-archive-month' year=day.year,month=day.month %}">{{ day|date:"m月" }}</a></li>
<li><a href="{% reverse 'blogs-entry-archive-day' year=day.year,month=day.month,day=day.day %}">{{ day|date:"d日" }}</a></li>
{% endif %}
{% endblock %}

{% block content %}
<h2>{{ day|date }}の日記</h2>
<div class="pagination">
	<div class="previous">
		{% if author %}
		<a href="{% reverse 'blogs-entry-archive-day' year=previous_day.year,month=previous_day.month,day=previous_day.day,author=author %}">
		{% else %}
		<a href="{% reverse 'blogs-entry-archive-day' year=previous_day.year,month=previous_day.month,day=previous_day.day %}">
		{% endif %}
			{{ previous_day|date }}
		</a>
	</div>
	<div class="parent">
		{% if author %}
		<a href="{% reverse 'blogs-entry-archive-month' year=day.year,month=day.month,author=author %}">{{ day|date:"Y年m月" }}</a>
		{% else %}
		<a href="{% reverse 'blogs-entry-archive-month' year=day.year,month=day.month %}">{{ day|date:"Y年m月" }}</a>
		{% endif %}
	</div>
	{% if next_day %}
	<div class="next">
		{% if author %}
		<a href="{% reverse 'blogs-entry-archive-day' year=next_day.year,month=next_day.month,day=next_day.day,author=author %}">
		{% else %}
		<a href="{% reverse 'blogs-entry-archive-day' year=next_day.year,month=next_day.month,day=next_day.day %}">
		{% endif %}
			{{ next_day|date }}
		</a>
	</div>
	{% endif %}
</div>
<ul class="blogs-entries">
	{% for entry in object_list %}
	<li>
		{% include "blogs/components/entry_truncated.html" %}
	</li>
	{% empty %}
	<li>特に日記がありません</li>
	{% endfor %}
</ul>
{% include "components/pagination.html" %}

{% endblock %}
