{% extends 'blogs/base.html' %}
{% load uni_form_tags %}
{% load commons %}

{% block head %}
{{ block.super }}
{% compressed_css 'markitupfield' %}
{% compressed_css 'uni-form' %}
{% compressed_css 'blogs-entry-form' %}
{% compressed_js 'markitupfield' %}
{% compressed_js 'uni-form' %}
{% compressed_js 'blogs-entry-form' %}
<script type="text/javascript">
$(document).ready(function(){
	$('#id_category').appendable({postUrl: "{% reverse 'blogs-category-create' request.user %}"});
});
</script>
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% if object %}
<li><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></li>
<li><a href="{% url blogs-entry-update user.username object.pk %}">記事の編集</a></li>
{% else %}
<li><a href="{% url blogs-entry-create user.username %}">ブログを書く</a></li>
{% endif %}
{% endblock %}

{% block content %}
{% if object and object.pub_state == 'draft' %}
<h2>下書き記事の編集</h2>
<p>記事を公開するには適切な「公開範囲」を設定し変更を反映してください</p>
{% elif object %}
<h2>{{ object.title }}の編集</h2>
{% else %}
<h2>新規日記の作成</h2>
{% endif %}
<form action="" method="post" class="uniForm">{% csrf_token %}
	{{ form|as_uni_form }}
	<div class="buttonHolder">
		<button type="button" class="secondaryAction back-button">←キャンセルし戻る</button>
		{% if not object %}
		<button type="button" class="primaryAction draft-button">下書きとして保存</button>
		{% endif %}
		<button type="submit" class="primaryAction">{% if object %}変更を反映{% else %}保存して公開{% endif %}</button>
	</div>
</form>
{% endblock %}
