{% extends "blogs/base.html" %}
{% load pagination_tags %}

{% block title %}
{% if author %}
{{ author.get_profile.nickname }}のブログ
{% else %}
みんなのブログ
{% endif %}
{% endblock %}

{% block action %}
{{ block.super }}
<h3>フィルタ</h3>
<div class="filterset">
{{ filter.form }}
</div>
{% endblock %}

{% block content %}
<ul class="blogs-entries">
	{% autopaginate object_list %}
	{% for entry in object_list %}
	<li>
		{% include "blogs/components/entry_truncated.html" %}
	</li>
	{% empty %}
	<li>特に日記がありません</li>
	{% endfor %}
</ul>
{% paginate %}
{% endblock %}
