{% load djangostar %}
<h3 class="task-title">
	<a href="{{ task.get_absolute_url }}">{{ task.title }}
	{% if user in task.owners.all %} (担当中){% endif %}
	</a>
</h3>
<table class="task-info">
	<tr>
		<th>状態</th>
		<td>{{ task.get_status_display }}</td>
	</tr>
	<tr>
		<th>重要度</th>
		<td>{{ task.get_priority_display }}</td>
	</tr>
	<tr>
		<th>締切り</th>
		<td>{{ task.deadline|date|default:"未設定" }}</td>
	</tr>
	{% if task.project %}
	<tr>
		<th>プロジェクト</th>
		<td>{{ task.project.get_title_display }}</td>
	</tr>
	{% endif %}
</table>
<div class="task-body">
	{{ task.body|striptags|truncateletters:100 }}
</div>
{% render_djangostar_list for task %}