@charset "utf-8";
div#action h3{
	margin-top: 30px;
	border-bottom: 1px dotted #cacbc7;
	font-size: 1.15em;
	font-weight: bold;
	height: 16px;
	padding-left: 20px;
	background: url(../image/action-h3-background.png) no-repeat 0 50%;
	word-wrap: break-word;
}
div#action h3:first-child{
	margin-top: 0;
}
div#action h4{
	font-size: 1.0em;
	margin: 20px 0 0 0;
	padding-left: 10px;
	background: url(../image/action-h4-background.png) no-repeat 0 3px;
}
div#action h4:first-child{
	margin-top: 0;
}
div#action table{
	font-size: 0.8em;
}
div#action table th,
div#action table td{
	padding: 2px 0 0 0;
}
div#action table th{
	padding-right: 10px;
}