@charset "utf-8";
div#authentification{
	position: absolute;
	top: 0;
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #dedede;
	background-color: #efefef;
	z-index: 100;
}
div#authentification span#version{
	position: absolute;
	top: 5px; left: 30px;
	color: #cacbc7;
}
div#authentification ul{
	position: absolute;
	right: 0;
	padding: 1px 0;
}
div#authentification ul li{
	line-height: 26px;
	vertical-align: middle;
}
body{
	padding-top: 70px;
}
