@charset "utf-8";
.ctimg{
	vertical-align: middle;
}
.more{
	margin: 0;
	padding: 0 0 0 10px;
	background: url(../image/p.more-background.png) no-repeat 0 50%;
	font-size: 0.8em;
	color: #8a8a8a;
}
.anchor{
	padding: 0 2px;
	border-bottom: 1px dotted #cacbc7;
	cursor: pointer;
}
div.loading{
	background: url(/css/icon/loading.gif) no-repeat 50% 50%;
	border: 1px solid #cacbc7;
}

body{
	color: #3d3d3d;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
img{
	margin: 0;
	padding: 0;
}
hr{
	display: none;
}
p{
	margin: 0 0 1.2em 0;
}
/*
 * table
 *---------------------------------------------------------------------- */
table {
	margin: 0;
}
table thead tr th{
	background: none;
	padding-bottom: 10px;
}
table tr th,
table tr td{
	margin: 0;
	padding: 0 0 2px 0;
	border-bottom: 1px dotted #cacbc7;
	vertical-align: middle;
}
table tr:last-child th,
table tr:last-child td{
	border: none;
}
/*
 * Text
 *---------------------------------------------------------------------- */
abbr,
acronym{
	border-bottom: 1px dotted #cac7b7;
}
em{
	color: #c15961;
}
strong{
	color: #c15961;
	font-weight: bold;
}
/*
 * link
 *----------------------------------------------------------------------- */
a,a:visited{
	color: #24527a;
	text-decoration: none;
}
a:hover{
	color: #3578b2;
}
h2 { font-size: 2em; margin:0.5em 0 0.3em 0; }/*screen.cssを上書き*/