@charset "utf-8";

div#content{
	word-wrap: break-word !important;
	word-break: break-all !important;
}
div#content.preview{
	padding: 20px;
	border: 1px dotted #cacbc7;
}
div#content h2{
	margin: 40px 0 10px 0;
	padding: 0 20px 5px 0;
	background: url(../image/content-h2-background.jpg) no-repeat 0 100%;
	font-size: 1.8em;
}
div#content h2:first-child,
div#content h3:first-child{
	margin-top: 0;
}

div#content h3{
	margin: 30px 0 5px 0;
	padding: 0 0 2px 15px;
	border-bottom: 1px dotted #cacbc7;
	background: url(../image/content-h3-background.jpg) no-repeat 0 50%;
	font-size: 1.2em;
}