@charset "utf-8";
div#header{
	position: relative;
}
div#header div#title h1{
	margin: 0;
	padding: 0;
}
div#header div#title h1 a{
	display: block;
	width: 285px;
	height: 90px;
	background: url(../image/header-title-h1-background.jpg) no-repeat;
	text-indent: -10000px;
	outline: none;
}
div#header div#title h1.beta a{
	
	width: 295px;
	background: url(../image/header-title-h1-background-beta.jpg) no-repeat;
}
div#header div#title h3{
	display: none;
}
div#header form.search.tiny{
	position: absolute;
	top: 10px; right: 0;
	width: 244px;
	height: 22px;
	border: 1px solid #cacbc7;
	background: #ffffff url(../icon/search.png) no-repeat 2px 50%;	
}
div#header form.search.tiny p{
	display: inline;
	margin: 0;
	padding: 0;
}
div#header form.search.tiny p input#id_q{
	float: left;
	width: 173px;
	height: 100%;
	margin: 0 0 0 20px;
	padding: 0;
	border: none;
}
div#header form.search.tiny p input#id_submit{
	display: block;
	float: right;
	width: 49px;
	height: 22px;
	margin: 0;
	padding: 0;
	border: 1px solid #ffffff;
	cursor: pointer;
	font-size: 0.9em;
}
