@charset "utf-8";
div#messages{
	position: fixed;
	top: 35px; right: 20px;
	width: 600px;
	z-index: 10;
}
div#messages ul{
	margin: 0;
	padding: 0;
}
div#messages ul li{
	list-style: none;
}
div#messages ul li:first-child{
	margin-top: 0;
}
