@charset "utf-8";
div#navigation{
	height: 40px;
	margin-bottom: 10px;
}
div#navigation ul{
	margin: 0 0px;
	padding: 0 20px;
}
div#navigation ul li{
	float: left;
	margin: 0 40px 0 0;
	padding: 0;
	list-style-type: none;
}
div#nacigation ul li:last-child{
	margin-right: 0;
}
div#navigation ul li a{
	display: block;
	height: 30px;
	margin: 0;
	text-indent: -10000px;
	background: url(../image/navigation-ul-li-background.png) no-repeat;
	outline: none;
}
/* --- 画像設定 --- */
div#navigation ul li#navigation-home{
	width: 40px;
}
div#navigation ul li#navigation-home a{
	background-position: 0 0;
}
div#navigation ul li#navigation-home a:hover{
	background-position: 0 -30px;
}
div#navigation ul li#navigation-home a:active{
	background-position: 0 -60px;
}
div#navigation ul li#navigation-home.active a{
	background-position: 0 -90px;
}
div#navigation ul li#navigation-products{
	width: 67px;
}
div#navigation ul li#navigation-products a{
	background-position: -40px 0;
}
div#navigation ul li#navigation-products a:hover{
	background-position: -40px -30px;
}
div#navigation ul li#navigation-products a:active{
	background-position: -40px -60px;
}
div#navigation ul li#navigation-products.active a{
	background-position: -40px -90px;
}
div#navigation ul li#navigation-projects{
	width: 62px;
}
div#navigation ul li#navigation-projects a{
	background-position: -107px 0;
}
div#navigation ul li#navigation-projects a:hover{
	background-position: -107px -30px;
}
div#navigation ul li#navigation-projects a:active{
	background-position: -107px -60px;
}
div#navigation ul li#navigation-projects.active a{
	background-position: -107px -90px;
}
div#navigation ul li#navigation-events{
	width: 45px;
}
div#navigation ul li#navigation-events a{
	background-position: -169px 0;
}
div#navigation ul li#navigation-events a:hover{
	background-position: -169px -30px;
}
div#navigation ul li#navigation-events a:active{
	background-position: -169px -60px;
}
div#navigation ul li#navigation-events.active a{
	background-position: -169px -90px;
}
div#navigation ul li#navigation-blogs{
	width: 45px;
}
div#navigation ul li#navigation-blogs a{
	background-position: -214px 0;
}
div#navigation ul li#navigation-blogs a:hover{
	background-position: -214px -30px;
}
div#navigation ul li#navigation-blogs a:active{
	background-position: -214px -60px;
}
div#navigation ul li#navigation-blogs.active a{
	background-position: -214px -90px;
}
div#navigation ul li#navigation-members{
	width: 59px;
}
div#navigation ul li#navigation-members a{
	background-position: -259px 0;
}
div#navigation ul li#navigation-members a:hover{
	background-position: -259px -30px;
}
div#navigation ul li#navigation-members a:active{
	background-position: -259px -60px;
}
div#navigation ul li#navigation-members.active a{
	background-position: -259px -90px;
}
div#navigation ul li#navigation-threads{
	width: 55px;
}
div#navigation ul li#navigation-threads a{
	background-position: -318px 0;
}
div#navigation ul li#navigation-threads a:hover{
	background-position: -318px -30px;
}
div#navigation ul li#navigation-threads a:active{
	background-position: -318px -60px;
}
div#navigation ul li#navigation-threads.active a{
	background-position: -318px -90px;
}
div#navigation ul li#navigation-commons{
	width: 131px;
}
div#navigation ul li#navigation-commons a{
	background-position: -373px 0;
}
div#navigation ul li#navigation-commons a:hover{
	background-position: -373px -30px;
}
div#navigation ul li#navigation-commons a:active{
	background-position: -373px -60px;
}
div#navigation ul li#navigation-commons.active a{
	background-position: -373px -90px;
}
