@charset "utf-8";

div#overview{
	width: 198px;
	padding: 10px;
	background-color: #efefef;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	word-wrap: break-word;
}
div#overview > div{
	margin-bottom: 30px;
}
div#overview > div#summary{
	margin-bottom: 0;
}
div#overview > div#summary > div{
	margin-bottom: 30px;
}
div#overview h3{
	padding-left: 20px;
	background: url(/css/image/overview-h3-background.png) no-repeat;
	font-size: 1.15em;
	font-weight: bold;
	line-height: 16px;
}
div#overview h4{
	margin: 0;
	font-size: 1.0em;
}
div#overview .box{
	padding: 0 5px;
	background: inherit;
}
div#overview table{
	font-size: 0.8em;
}
div#overview table th,
div#overview table td{
	padding: 2px 0 0 0;
}
div#overview table th{
	padding-right: 10px;
}
/* summary ------------------------------------------------------------- */
div#overview div#summary h3{
	background: url(/css/image/overview-summary-h3-background.png) no-repeat 0 50%;
}
/* events, projects, users --------------------------------------------- */
div#overview div#overview-events,
div#overview div#overview-projects,
div#overview div#overview-users{
	position: relative;
	margin-bottom: 40px;
}
div#overview div#overview-events p.more,
div#overview div#overview-projects p.more,
div#overview div#overview-users p.more{
	position: absolute;
	bottom: -20px; right: 0;

}
/* --- events --- */
div#overview div#overview-events h3{
	background: url(/css/icon/events-event-list.png) no-repeat 0 50%;
}
div#overview div#overview-events ul.events{
	margin: 0;
	padding: 0 5px;
}
div#overview div#overview-events ul.events li.event{
	margin: 0 0 10px 0;
	list-style: none;
}
div#overview div#overview-events ul.events li.event h4{
	line-height: 20px;
	padding-left: 20px;
}
div#overview div#overview-events ul.events li.event table th{
	width: 30px;
}
div#overview div#overview-events p.more{
	right: 0;
}
/* --- projects --- */
div#overview div#overview-projects h3{
	background: url(/css/icon/projects-project-list.png) no-repeat 0 50%;
}
div#overview div#overview-projects ul.projects{
	margin: 0;
	padding: 0 5px;
}
div#overview div#overview-projects ul.projects li.project{
	height: auto !important;
	min-height: 50px;
	height: 50px;
	margin: 0 0 10px 0;
	list-style: none;
}
div#overview div#overview-projects ul li.project div.project-icon{
	float:left;
	margin: 0 5px 0 0;
}
div#overview div#overview-projects ul li.project div.project-title{
	font-size: 1.0em;
	margin-left: 55px;
}
div#overview div#overview-projects ul li.project div.project-detail{
	font-size: 0.8em;
	margin-left: 55px;
}
div#overview div#overview-projects ul.projects.hlist{
	padding: 0;
}
div#overview div#overview-projects ul.projects.hlist li.project{
	width: 50px;
	padding: 0;
	margin: 0 8px 5px 8px;
	list-style: none;
}
/* --- users --- */
div#overview div#overview-users h3{
	background: url(../icon/profiles-profile-list.png) no-repeat 0 50%;
}
div#overview div#overview-users ul.users{
	margin: 0;
	padding: 0 5px;
}
div#overview div#overview-users ul.users li.user{
	height: auto !important;
	min-height: 50px;
	height: 50px;
	margin: 0 0 10px 0;
	list-style: none;
}
div#overview div#overview-users ul.users li.user div.profile-icon{
	float:left;
	margin: 0 5px 0 0;
}
div#overview div#overview-users ul.users li.user div.profile-mood{
	font-size: 0.8em;
	margin-left: 55px;
}
div#overview div#overview-users ul.users.hlist{
	padding: 0;
}
div#overview div#overview-users ul.users.hlist li.user{
	width: 50px;
	padding: 0;
	margin: 0 8px 5px 8px;
	list-style: none;
}