@charset "utf-8";

div#overview div#summary div.profile-icon{
	float: left;
	margin: 0 5px 0 0;
}
div#overview div#summary div.profile-mood{
	margin: 0 0 0 55px;
	padding: 5px;
	height: auto !important;
	min-height: 50px;
	height: 50px;
	background-color: #ffffff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
div#overview div#summary div.profile-tags{
	clear: left;
}