@charset "utf-8";

div#content ul.users{
	margin: 0;
	padding: 0;
}
div#content ul.users li.user{
	float: left;
	width: 157px;
	height: 140px;
	overflow: hidden;
	margin: 0 26px 0 0;
	padding: 0 0 10px 0;
	background: inherit;
	list-style: none;
}
div#content ul.users li.user.last{
	margin-right: 0;
}
div#content ul.users li.user div.profile-icon{
	float: left;
	margin: 0 10px 0 0;
}
div#content ul.users li.user div.profile-name{
	margin: 0 0 0 60px;
	width: 96px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: normal;
}
div#content ul.users li.user h3.profile-nickname{
	margin: 0 0 0 0;
	padding: 0;
	border: none;
	font-size: 1.2em;
	background: none;
}
div#content ul.users li.user p.profile-username{
	margin: 0 0 3px 0;
	font-size: 1.0em;
	color: #9a9a9a;
}
div#content ul.users li.user table.profile-detail{
	width: 96px;
	margin: 0 0 5px 60px;
	font-size: 0.8em;
	color: #9a9a9a;
}
div#content ul.users li.user table.profile-detail th,
div#content ul.users li.user table.profile-detail td{
	border-bottom: 1px dotted #cacbc7;
}
div#content ul.users li.user table.profile-detail tr:last-child th,
div#content ul.users li.user table.profile-detail tr:last-child td{
	border-bottom: none;
}
div#content ul.users li.user table.profile-detail th{
	width: 40px;
	padding: 0 5px 0 0;
}
div#content ul.users li.user table.profile-detail td{
	padding: 0;
}
div#content ul.users li.user blockquote.profile-mood{
	clear: both;
	margin: 0;
	padding: 0;
	font-size: 0.8em;
	color: #9a9a9a;
}
