@charset "utf-8";

/* services --------------------------------------------------------------- */
.addServiceButton{
	float: right;
	display: block;
	padding: 0 0 0 18px;
	height: 16px;
	background: url(/css/image/profiles-profile/form-service-add.png) no-repeat 0 0;
	cursor: pointer;
}
.deleteServiceButton{
	float: right;
	display: block;
	width: 16px;
	height: 16px;
	background: url(/css/image/profiles-profile/form-service-delete.png) no-repeat 0 0;
	cursor: pointer;
}
.addServiceButton:hover,
.deleteServiceButton:hover{
	background-position: 0 -16px;
}
table#services tr td{
	margin: 0;
	padding: 0;
}
table#services tr td.select-service-column{
	width: 180px;
}
table#services tr td.select-service-column div{
	width: 100%;
}