{% if is_paginated %}
<div class="pagination">
	{% if page_obj.has_previous %}
	<a href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}" class="prev">戻る</a>
	{% else %}
	<span class="prev disabled">戻る</span>
	{% endif %}
	<span class="current">{{ page_obj.paginator.num_pages }}ページ中{{ page_obj.number }}ページ目を表示中</span>
	{% if page_obj.has_next %}
	<a href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}" class="next">進む</a>
	{% else %}
	<span class="next disabled">進む</span>
	{% endif %}
</div>
{% if page_obj.has_other_pages %}
<ul class="page-list">
	{% for page in paginator.page_range %}
		<li class="page-list-item">
		{% if page %}
			{% if page == page_obj.number %}
			<span class="current page">{{ page }}</span>
			{% else %}
			<a href="?page={{ page }}{{ getvars }}{{ hashtag }}" class="page">{{ page }}</a>
			{% endif %}
		{% else %}
			...
		{% endif %}
		</li>
	{% endfor %}
</ul>
{% endif %}
{% endif %}