{% extends "tweets/base.html" %}

{% block title %}
{% if author %}
{{ author.get_profile.nickname }}のつぶやき一覧
{% else %}
つぶやき一覧
{% endif %}
{% endblock %}

{% block head %}
{% compressed_css 'tweets-tweet-base' %}
{% compressed_js 'tweets-tweet-base' %}
{% endblock %}

{% block content %}
<h2>すべてのつぶやき</h2>
{% ifhsp 'tweets.add_tweet' for user %}
<form id="tweet-form" action="{% url tweets-tweet-create %}" method="post" style="display: none;">{% csrf_token %}
	<p><input type="hidden" id="id_reply" name="reply"></p>
	<p><input type="hidden" id="id_source" name="source" value="kawaz"></p>
	<p><textarea id="id_body" name="body" title="いまなにしてるの？" rows="1" cols="20"></textarea></p>
	<p><input type="submit" id="tweet-submit" value="つぶやく" /></p>
</form>
{% endifhsp %}
<ul class="tweets">
	{% for tweet in object_list %}
	<li class="tweet{% if user in tweet.users.all %} favorite{% endif %}" id="tweet-{{ tweet.pk }}">
		{% include "tweets/components/list-item.html" %}
	</li>
	{% empty %}
	<li class="tweet empty">まだ誰もつぶやいていません</li>
	{% endfor %}
</ul>
{% include "components/pagination.html" %}
{% endblock %}