{% extends "base.html" %}

{% block title %}
人気のつぶやき
{% endblock %}	 

{% block right_column %}
	<h2>ソート</h2>
	<ul>
		<li><a href="#">新着順に並び替える</a></li>
		<li><a href="#">人気の高い順に並び替える</a></li>
	</ul>
	<h2>しきい値</h2>
	<ul>
		<li><a href="#">5</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">1</a></li>
	</ul>
	<form method="get" action="{% url tweets-tweet-favorite-list %}">
		<input type="hidden" name="order" value="{{ order_filter }}">
		<input type="hidden" name="threshold" value="{{ threshold_filter }}">
		<input type="hidden" name="user" value="{{ user_filter_filter }}">
		<input type="submit">
	</form>
{% endblock %}

{% block content %}
<h2>人気のつぶやき</h2>
{% for object in object_list %}
	{% include "components/tweets-tweet.html" %}
	{% empty %}
	<div>該当のつぶやきがありません</div>
{% endfor %}
{% endblock %}