{% extends "base.html" %}

{% block head %}
{% compressed_css 'tweets-tweet-base' %}
{% compressed_js 'tweets-tweet-base' %}
{% endblock %}

{% block title %}{{ object.author.get_profile.nickname }}: {{ object.body|truncateletters:50 }}{% endblock %}

{% block content %}
{% ifhsp 'tweets.add_tweet' for user %}
<form id="tweet-form" action="{% url tweets-tweet-create %}" method="post" style="display: none;">{% csrf_token %}
	<p><input type="hidden" id="id_reply" name="reply"></p>
	<p><input type="hidden" id="id_source" name="source" value="kawaz"></p>
	<p><textarea id="id_body" name="body" title="いまなにしてるの？" rows="1" cols="20"></textarea></p>
	<p><input type="submit" id="tweet-submit" value="つぶやく" /></p>
</form>
{% endifhsp %}
{% with object as tweet %}
<ul class="tweets">
	<li class="tweet{% if user in tweet.users.all %} tweet-favorite{% endif %}" id="tweet-{{ tweet.pk }}">
		{% include "tweets/components/list-item.html" %}
	</li>
</ul>
{% endwith %}
{% endblock %}