@charset "utf-8";

ul.blogs-entries{
	margin: 0;
	padding: 0;
}
ul.blogs-entries li{
	list-style: none;
}

.blogs-entry.draft,
.blogs-entry.draft *{
	color: #cacbc7 !important;
}
.blogs-entry div.blogs-entry-publish-at{
	display; block;
	float: left;
	position: relative;
	width: 80px;
	padding: 10px;
	margin: 0 10px 10px 0;
	text-align: center;
	border: 1px solid #cacbc7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.blogs-entry div.blogs-entry-publish-at .day{
	display: inline-block;
	margin: 20px 0 0 0;
	padding: 0;
	font-size: 50px;
	line-height: 0;
}
.blogs-entry div.blogs-entry-publish-at .month,
.blogs-entry div.blogs-entry-publish-at .year{
	display: inline-block;
	margin: 20px 0 0 0;
	padding: 0;
	font-size: 25px;
	line-height: 0;
}
.blogs-entry h3.blogs-entry-title{
	margin-left: 110px !important;
}
.blogs-entry table.blogs-entry-info{
	width: 403px;
	margin: 10px 0 10px 120px;
	font-size: 0.8em;
	color: #ababab;
}
.blogs-entry table.blogs-entry-info th,
.blogs-entry table.blogs-entry-info td{
	border: none;
}
.blogs-entry div.blogs-entry-body{
	clear: left;
}

