{% extends 'contact/base.html' %}
{% load uni_form_tags %}

{% block head %}
{% compressed_css 'contact-email-form' %}
{% compressed_css 'uni-form' %}
{% compressed_js 'uni-form' %}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url contact-email %}">お問合せ</a></li>
{% endblock %}

{% block action %}
<h3>管理者一覧</h3>
<p>Kawaz管理者の一覧です</p>
<ul class="users">
{% for user in admin_list %}
	{% with user.get_profile as profile %}
	<li class="user" username="{{ user.username }}">
		<div class="profile-icon"><a href="{{ profile.get_absolute_url }}" alt="{{ profile.nickname}}さんのプロフィール" class="fenced middle filled">
			<span></span>{{ profile.get_icon_middle_display }}
		</a></div>
		<div class="profile-nickname">{{ profile.get_nickname_display }}</div>
		<div class="profile-mood">{{ profile.mood|default:"…" }}</div>
	</li>
	{% endwith %}
{% empty %}
	<li class="user">現在管理者不在です</li>
{% endfor %}
</ul>
{% endblock %}

{% block content %}
<h2>お問合せ</h2>
<p>下記のフォームから管理者にメールを送信できます</p>
<form action="" method="post" class="uniForm">{% csrf_token %}
	{{ form|as_uni_form }}
	<div class="buttonHolder">
		<button type="button" class="secondaryAction back-button">←キャンセルして戻る</button>
		<button type="submit" class="primaryAction">送信</button>
	</div>
</form>
{% endblock %}
