{% extends 'base.html' %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url utilities-index %}">ユーティリティー</a></li>
<li><a href="{% reverse 'permissiongroups-permissiongroup-list' %}">パーミッショングループ</a></li>
{% endblock %}

{% block action %}
{% ifhsp 'permissiongroups.add_permissiongroup','permissiongroups.change_permissiongroup','permissiongroups.delete_permissiongroup' of object for user %}
<h3>操作</h3>
<ul class="ilist">
	{% ifhsp 'permissiongroups.add_permissiongroup' for user %}
	<li class="permissiongroups-permissiongroup-create"><a href="{% reverse 'permissiongroups-permissiongroup-create' %}">新規作成</a></li>
	{% endifhsp %}
	{% if object %}
	{% ifhsp 'permissiongroups.change_permissiongroup' for user %}
	<li class="permissiongroups-permissiongroup-update"><a href="{% reverse 'permissiongroups-permissiongroup-update' object.pk %}">編集</a></li>
	{% endifhsp %}
	{% ifhsp 'permissiongroups.delete_permissiongroup' for user %}
	<li class="permissiongroups-permissiongroup-delete"><a href="{% reverse 'permissiongroups-permissiongroup-delete' object.pk %}">削除</a></li>
	{% endifhsp %}
	{% endif %}
</ul>
{% endifhsp %}

{% if object %}
<h3>見る</h3>
<ul class="ilist">
	<li class="permissiongroups-permissiongroup-list"><a href="{% reverse 'permissiongroups-permissiongroup-list' %}">一覧に戻る</a></li>
	<li class="utilities-index"><a href="{% url utilities-index %}">ツール一覧に戻る</a></li>
</ul>
{% else %}
<h3>見る</h3>
<ul class="ilist">
	<li class="utilities-index"><a href="{% url utilities-index %}">ツール一覧に戻る</a></li>
</ul>
{% endif %}
{% endblock %}
