{% extends "permissiongroups/base.html" %}

{% block title %}パーミッショングループ一覧{% endblock %}

{% block content %}
<h2>パーミッショングループ一覧</h2>
<ul class="ilist">
	{% for permission_group in object_list %}
	<li class="permissiongroups-permissiongroup-detail"><a href="{% reverse 'permissiongroups-permissiongroup-detail' permission_group.pk %}">
		{{ permission_group.name }}
	</a><br /><small>
		{{ permission_group.description|safe }}
		<ul>
			{% for permission in permission_group.group.permissions.all %}
			<li>{{ permission }}</li>
			{% endfor %}
		</ul>
	</small>
	</li>
	{% empty %}
	<li class="permissiongroups-permissiongroup-detail empty">パーミッショングループが存在していません</li>
	{% endfor %}
</ul>
{% endblock %}