{% extends 'permissiongroups/base.html' %}

{% block title %}{{ object.name }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></li>
{% endblock %}

{% block summary %}
<div class="permissiongroup-summary">
	<h3>{{ object.name }}</h3>
	<table>
		<tr>
			<th>スタッフグループ</th>
			<td>{{ object.is_staff }}</td>
		</tr>
		<tr>
			<th>昇格可能グループ</th>
			<td>{{ object.is_promotable }}</td>
		</tr>
		<tr>
			<th>デフォルトグループ</th>
			<td>{{ object.is_default }}</td>
		</tr>
		<tr>
			<th>所属ユーザー数</th>
			<td>{{ object.users.count }}人</td>
		</tr>
		<tr>
			<th>所有パーミッション数</th>
			<td>{{ object.permissions.count }}</td>
		</tr>
	</table>
</div>
{% endblock %}

{% block content %}
<h2>{{ object.name }}</h2>
{{ object.description|safe }}

<h3>所属ユーザー({{ object.users.count }}人)</h3>
<ul class="ilist hlist">
	{% for user in object.users.all %}
	<li class="manual">
		{% with user.get_profile as profile %}
		<a href="{{ profile.get_absolute_url }}" class="fenced small filled">
			<span></span>{{ profile.get_icon_small_display }}
		</a>
		{% endwith %}
	</li>
	{% empty %}
	<li class="manual">誰も所属していません</li>
	{% endfor %}
</ul>

<h3>所有パーミッション({{ object.permissions.count }})</h3>
<ul>
	{% for permission in object.permissions.all %}
	<li>{{ permission }}</li>
	{% empty %}
	<li>パーミッションがまだ設定されていません</li>
	{% endfor %}
</ul>
{% endblock %}
