{% extends "base.html" %}

{% block action %}
<h3>コンタクト</h3>
<ul class="ilist">
	<li class="messages-message-detail"><a href="/contact/">管理者にコンタクトを取る</a></li>
</ul>
{% endblock %}

{% block content %}
<h2>403 Forbidden</h2>
<p><img src="/image/dopes/403.png" alt="アクセス権限がありません" /></p>
<p>お使いのアカウントではこのページにアクセスするための権限がありません。明らかに権限を持っているはずなのにこのページが表示された場合は管理者までお問い合せください</p>

<h3>記事添付素材のダウンロードについての注意事項</h3>
<p>著作権保護のため記事に添付されたファイルは初期状態ではダウンロード不可となります。ダウンロードを許可するには
素材詳細ページにてライセンスをダウンロード可能なものに変更してください。</p>
{% endblock %}