{% extends "base.html" %}

{% block action %}
<h3>コンタクト</h3>
<ul class="ilist">
	<li class="messages-message-detail"><a href="/contact/">管理者にコンタクトを取る</a></li>
</ul>
{% endblock %}

{% block content %}
<h2>404 - Not Found</h2>
<p><img src="/image/dopes/404.png" alt="ページが見つかりません" /></p>
<p>お探しのページが見つかりませんでした。管理者が作るのを忘れている可能性があるのでお問い合せください</p>

{% ifhsp 'flatpages.add_flatpage' for user %}
<h3>新規作成</h3>
<p>お使いのアカウントはフラットページを追加することが可能なので下記リンクからこのページを作成することができます</p>
<a href="{% reverse 'flatpages-flatpage-create' %}?url={{ request.path }}">このURLで新規フラットページを作成する</a>
{% endifhsp %}
{% endblock %}