{% load active %}
{% load query %}
{% load events %}
{% load projects %}
{% load profiles %}
{% load announcement %}
{% load tagging %}
{% load drafts %}
{% load messages %}
{% load tasks %}
{% load threestep_registration %}
{% load settings %}
{% load djangostar %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="keywords" content="札幌,ゲーム,コミュニティ,Kawaz" />
<meta name="description" content="札幌近郊のゲーム制作者コミュニティ" />
<meta name="robots" content="index" />
<link rel="shortcut icon" href="/favicon.ico" >
<link rel="alternate" type="application/rss+xml" title="札幌ゲーム製作者コミュニティ Kawaz更新情報 (RSS 2.0)" href="{% url history-timeline-feeds %}" />
<title>Kawaz - {% block title %}札幌ゲーム制作者コミュニティ{% endblock %}</title>
<!-- Framework CSS -->
<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection"/>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/print.css" type="text/css" media="print"/>
<!--[if lt IE 8]><link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection"/><![endif]-->
{% compressed_css 'layouts' %}
{% compressed_css 'components' %}
{% compressed_css 'jquery-ui' %}
{% compressed_css 'syntaxhighlighter' %}
<!-- Start of Google Analysis Code -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23902196-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- End of Google Analysis Code -->
<!-- Start of Woopra Code -->
<script type="text/javascript">
var woo_settings = {idle_timeout:'300000', domain:'kawaz.org'};
(function(){
var wsc = document.createElement('script');
wsc.src = document.location.protocol+'//static.woopra.com/js/woopra.js';
wsc.type = 'text/javascript';
wsc.async = true;
var ssc = document.getElementsByTagName('script')[0];
ssc.parentNode.insertBefore(wsc, ssc);
})();
</script>
<!-- End of Woopra Code -->
{% compressed_js 'components' %}
{% compressed_js 'jquery-ui' %}
{% compressed_js 'syntaxhighlighter' %}
{% render_tagging_head %}
{% include "components/fenced_fix.html" %}
{% render_djangostar_head %}
{% block head %}
{% endblock %}
<script type="text/javascript" src="/javascript/components/advertisement.js"></script>
</head>
<body>
	<a id="totop" href="#bottom" title="ページボトムにスクロール">[v]</a>
{% if user.is_superuser %}
	{% include "components/god_stamp.html" %}
{% endif %}
{% if messages %}
<div id="messages">
	<ul>
	{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	{% endfor %}
	</ul>
</div><!-- /messages -->
{% endif %}
<div id="authentification">
	<a id="top" name="top" />
	<span id="version">Kawaz ver. {% settings 'VERSION' %}</span>
	<ul class="hlist">
		{% if user.is_authenticated %}
		{% if user.is_promotable and user.is_superuser %}
		<li><a href="{% reverse 'permissiongroups-demote' %}?next={{ request.path }}">スタッフに降格</a></li>
		{% elif user.is_promotable %}
		<li><a href="{% reverse 'permissiongroups-promote' %}?next={{ request.path }}">神に昇格</a></li>
		{% endif %}
		<li>|</li>
		{% if user.is_staff %}
		<li><a href="{% url admin:index %}" target="_blank">セントラルドグマ</a></li>
		<li><a href="https://www.google.com/analytics/reporting/?reset=1&id=38943028" target="_blank">マルドゥック機関</a></li>
		<li><a href="http://www.woopra.com/live/#kawaz.org" target="_blank">エントリープラグ</a></li>
		{% endif %}
		{% ifhsp 'threestep_registration.view_registrationprofile' for user %}
		{% get_registration_user_count as registration_user_count %}
		{% endifhsp %}
		{% if user.is_staff or user.is_superuser %}
		<li><a href="{% url utilities-index %}" title="スタッフ用ツール">ロンギヌスの槍{% if registration_user_count %}({{ registration_user_count }}){% endif %}</a></li>
		<li>|</li>
		{% endif %}
		<li><a href="{{ user.get_profile.get_absolute_url }}" class="fenced filled small">
			<span></span>{{ user.get_profile.get_icon_small_display }}
		</a></li>
		{% ifhsp 'messages.view_message' for user %}
		{% get_unread_message_count for user as unread_message_count %}
		<li><a href="{% url messages-message-recived %}">受信トレイ{% if unread_message_count %}({{ unread_message_count }}){% endif %}</a></li>
		{% endifhsp %}
		{% ifhsp 'messages.add_message' for user %}
		<li><a href="{% url messages-message-create %}">メッセージの送信</a></li>
		{% endifhsp %}
		{% ifhsp 'tasks.view_task' for user %}
		{% get_unaccepted_task_count request for user as unaccepted_task_count %}
		<li><a href="{% reverse 'tasks-task-list' %}">タスク{% if unaccepted_task_count %}({{ unaccepted_task_count }}){% endif %}</a></li>
		{% endifhsp %}
		<li><a href="{% reverse 'blogs-entry-list' author=user %}">ブログ</a></li>
		{% get_drafts_count request as drafts_count %}
		<li><a href="{% url drafts-draft-list %}">下書き{% if drafts_count %}({{ drafts_count }}){% endif %}</a></li>
		<li>|</li>
		<li><a href="{% url auth_logout %}?next=/">ログアウト</a></li>
		{% else %}
		<li><a href="{% url registration_register %}">新規会員登録</a></li>
		<li>|</li>
		<li><a href="{% url auth_login %}">ログイン</a></li>
		<li><a href="{% url auth_password_reset %}">パスワードを忘れた</a></li>
		<li>|</li>
		<li><a href="/about/">Kawazについて</a></li>
		<li><a href="{% reverse 'contact-email' %}">お問合せ</a>
		<li><a href="/help/">ヘルプ</a></li>
		{% endif %}
	</ul>
</div><!-- /authentification -->

{% block container %}
<div class="container {#{% if debug %}showgrid{% endif %}#}">
	<div class="span-16 last" id="header">
		<div class="span-5" id="title">
			<h1 title="Version: {% settings 'VERSION' %}"><a href="/">Kawaz</a></h1>
			<h3>札幌ゲーム製作者コミュニティ</h3>
		</div><!-- /title -->
		<div class="span-5 prepend-6 last" id="search">
			<form action="/search/" method="get" class="search tiny">
				<p><input type="text" id="id_q" name="q" /></p>
				<p><input type="submit" id="id_submit" value="検索" /></p>
			</form>
		</div><!-- /search -->
	</div>
	<!-- /header -->
	<div class="clear span-16 last" id="breadcrumbs">
		<ul class="hlist">
		{% block breadcrumbs %}
		<li class="breadcrumbs-home"><a href="/">Home</a></li>
		{% endblock %}
		</ul>
	</div><!-- /breadcrumbs -->
	<div class="clear span-16 last" id="navigation">
		<ul class="hlist">
			<li id="navigation-home" class="{% active request '^/$' %}{% active request '^/messages/' %}"><a href="/">Home</a></li>
			{#<li id="navigation-products" class="{% active request '^/products/' %}"><a href="{% url projects-product-list %}">Products</a></li>#}
			<li id="navigation-projects" class="{% active request '^/projects/' %}"><a href="{% url projects-project-list %}">Projects</a></li>
			<li id="navigation-events" class="{% active request '^/events/' %}"><a href="{% url events-event-list %}">Events</a></li>
			<li id="navigation-blogs" class="{% active request '^/blogs/' %}"><a href="{% url blogs-entry-list %}">Blogs</a></li>
			<li id="navigation-members" class="{% active request '^/members/' %}"><a href="{% url profiles-profile-list %}">Members</a></li>
			<li id="navigation-threads" class="{% active request '^/threads/' %}"><a href="{% url threads-thread-list %}">Threads</a></li>
			<li id="navigation-commons" class="{% active request '^/commons/' %}"><a href="{% url commons-material-list %}">Commons</a></li>
		</ul>
	</div>
	<!-- /navigation -->
	<hr />
	
	{% block leftcolumn %}
	<div class="clear span-4" id="overview">
		<div id="summary">
		{% block summary %}
		{% endblock %}
		</div>
		{% block overview %}
		{% if user.is_authenticated %}
		<div id="overview-events">
			{% get_events request as events %}
			<h3>イベント({{ events.count }})</h3>
			<ul class="events">
			{% for event in events|slice:":3" %}
			<li class="event">
				<h4 class="events-event-detail"><a href="{{ event.get_absolute_url }}">{{ event.title }}({{ event.members.count }}人)</a></h4>
				<table>
					<tr>
						<th>日時</th>
						<td>{{ event.get_period_display }}</td>
					</tr>
					<tr>
						<th>場所</th>
						<td>{{ event.place|default:"未定" }}</td>
					</tr>
					<tr>
						<th>主催</th>
						<td>
							<a href="{{ event.author.get_profile.get_absolute_url }}" class="profile-icon fenced small filled">
								<span></span>{{ event.author.get_profile.get_icon_small_display }}
							</a> {{ event.author.get_profile.get_nickname_display }}さん
						</td>
					</tr>
				</table>
			</li>
			{% empty %}
			<li class="box event">開催予定のイベントはありません</li>
			{% endfor %}
			</ul>
			{% if events|length > 3 or debug %}
			<p class="more"><a href="{% url events-event-list %}">もっとみる</a></p>
			{% endif %}
		</div><!--/overview-events -->
		{% endif %}
		<div id="overview-projects">
			{% get_projects request as projects %}
			<h3>プロジェクト({{ projects.count }})</h3>
			<ul class="projects">
				{% for project in projects|order_by|slice:":12" %}
				{% if forloop.counter <= 3 %}
				<li class="project">
					<div class="project-icon"><a href="{{ project.get_absolute_url }}" class="fenced middle filled"><span></span>{{ project.get_icon_middle_display }}</a></div>
					<div class="project-title"><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></div>
					<div class="project-detail">{{ project.body|striptags|truncateletters:"50" }}</div>
				</li>
				{% else %}
				{% if forloop.counter == 4 %}
			</ul>
			<ul class="projects hlist">
				{% endif %}
				<li class="project">
					<div class="project-icon"><a href="{{ project.get_absolute_url }}" class="fenced middle filled"><span></span>{{ project.get_icon_middle_display }}</a></div>
				</li>
				{% endif %}
				{% empty %}
				<li class="box project">発足されているプロジェクトはありません</li>
				{% endfor %}
			</ul>
			{% if projects|length > 12 or debug %}
			<p class="more"><a href="{% url projects-project-list %}">もっとみる</a></p>
			{% endif %}
		</div><!--/overview-projects -->
		<div id="overview-users">
			{% get_profiles request as profiles %}
			<h3>メンバー({{ profiles.count }})</h3>
			<ul class="users">
				{% for profile in profiles|order_by|slice:":21" %}
				{% if forloop.counter <= 3 %}
				<li class="user">
					<div class="profile-icon"><a href="{{ profile.get_absolute_url }}" alt="{{ profile.nickname}}さんのプロフィール" class="fenced middle filled"><span></span>{{ profile.get_icon_middle_display }}</a></div>
					<div class="profile-nickname">{{ profile.get_nickname_display }}</div>
					<div class="profile-mood">{{ profile.mood|default:"・・・" }}</div>
				</li>
				{% else %}
				{% if forloop.counter == 4 %}
			</ul>
			<ul class="users hlist">
				{% endif %}
				<li class="user">
					<div class="profile-icon"><a href="{{ profile.get_absolute_url }}" alt="{{ profile.nickname}}さんのプロフィール" class="fenced middle filled"><span></span>{{ profile.get_icon_middle_display }}</a></div>
				</li>
				{% endif %}
				{% empty %}
				<li class="box user">ふっ・・・どうせ俺はぼっちさ</li>
				{% endfor %}
			</ul>
			{% if profiles|length > 21 or debug %}
			<p class="more"><a href="{% url profiles-profile-list %}">もっとみる</a></p>
			{% endif %}
		</div><!--/overview-users-->
		{% endblock %}
	</div>
	{% endblock %}
	<!-- /overview -->
	
  {% block centercolumn %}
	<div class="span-9" id="content">
		{% block content %}
		{% endblock %}
	</div><!-- /content -->
	{% endblock %}
	
	{% block rightcolumn %}
	<div class="span-3 last" id="action">
		{% block action %}
		{% endblock %}
	</div><!-- /action -->
	{% endblock %}
</div>
{% endblock %}

{% block footer %}
<div id="footer">
	<div class="container">
		<div class="span-5 colborder" id="announcement">
			<h3>お知らせ一覧</h3>
			{% get_announcements request as announcements %}
			<table>
				{% for announcement in announcements|slice:":5" %}
				<tr>
					<th>{{ announcement.created_at|date:"m/d (D)" }}</th>
					<td><a href="{{ announcement.get_absolute_url }}">{{ announcement.title }}</a></td>
				</tr>
				{% empty %}
				<tr>
					<td>お知らせは一つもありません</td>
				</tr>
				{% endfor %}
			</table>
			<p class="more"><a href="{% url announcements-announcement-list %}">すべてのお知らせ</a></p>
		</div>
		<!-- /announcement -->
		<div class="span-5 colborder" id="information">
			<h3>インフォメーション</h3>
			<ul>
				<li><a href="/about/">Kawazについて</a></li>
				<li><a href="/rules/">利用規約</a></li>
				<li><a href="/privacy-policy/">プライバシーポリシー</a></li>
				<li><a href="{% reverse 'contact-email' %}">お問合せ</a>
				<li><a href="/help/">ヘルプ</a></li>
			</ul>
		</div>
		<div class="span-4 last" id="advanced">
			<h3>もっとKawaz</h3>
			<ul>
				<li><a href="/services/">サービス概要</a></li>
				<li><a href="/beta/">ベータ版機能</a></li>
				<li><a href="/developer/">開発者向け情報</a></li>
				<li><a href="/bugwaz/1/">障害情報</a></li>
				{% if user.is_authenticated %}
				<li><a href="{% url registration_withdraw %}">Kawazから退会する</a></li>
				{% endif %}
			</ul>
		</div>
		<div class="span-16" id="copyright">
			<small>Thanks to <a href="http://p.yusukekamiyamane.com/">p.yusukekamiyamane</a> about them nice icon packs.</small>
			<small>This website is powered by <a href="http://www.djangoproject.com/">Django</a></small>
			<address>Copyright&copy; 2009-{% now "Y" %} Kawaz allright reserved.</address>
		</div>
	</div>
</div><!-- /footer -->
{% endblock %}

<a id="bottom" name="bottom" />
<a id="tobottom" href="#top" title="ページトップにスクロール">[^]</a>
</body>
</html>
