{% load parser %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="keywords" content="札幌,ゲーム,ゲーム製作,ゲーム作成,ゲーム素材,ゲームプログラミング,ゲームサウンド,コミュニティ,GCCSAP" />
<meta name="description" content="札幌近郊のゲーム製作者コミュニティ" />
<meta name="robots" content="index" />
<link rel="shortcut icon" href="/favicon.ico" >
<link rel="alternate" type="application/rss+xml" title="札幌ゲーム製作者コミュニティKawaz更新情報 (RSS 2.0)" href="{% url history-timeline-feeds %}" />
<title>Kawaz - Preview</title>
<!-- Framework CSS -->
<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection"/>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/print.css" type="text/css" media="print"/>
<!--[if lt IE 8]><link rel="stylesheet" href="{{ MEDIA_URL }}css/ie.css" type="text/css" media="screen, projection"/><![endif]-->
{% compressed_css 'layouts' %}
{% compressed_css 'components' %}
</head>
<body class="preview">
	<div id="content">
		<div class="markdown">
			{{ markup|parse|safe }}
		</div>
	</div>
</body>
</html>