{% extends "threads/base.html" %}
{% load parser %}
{% load defaultimg %}
{% load comments %}
{% load commons %}
{% load tagging %}
{% load djangostar %}

{% block title %}{{ object.title }}{% endblock %}

{% block head %}
{{ block.super }}
{% compressed_css 'threads-thread-detail' %}
{% compressed_css 'comments' %}
{% compressed_css 'markitupfield' %}
{% compressed_js 'markitupfield' %}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></li>
{% endblock %}

{% block content %}
<h2>{{ object.title }}({{ object.response.count }})</h2>
	{% render_djangostar_list for object %}
<div class="thread top response" response_number="1" id="thread-1">
	<div class="thread-info">
		<div class="thread-author">
			{% with object.author.get_profile as profile %}
			<div class="profile-icon"><a href="{{ profile.get_absolute_url }}" class="fenced middle filled">
				<span></span>{{ profile.get_icon_middle_display }}
			</a></div>
			<span class="profile-nickname">1: {{ profile.get_nickname_display }}さん</span>
			{% endwith %}
		</div>
		<span class="thread-created_at">
			<small>@{{ object.author.username }}</small><br />
			{{ object.created_at|date:"Y/m/d H:i:s" }}
		</span>
		{% if object.project %}
		<div class="thread-project">
			{% with object.project as project %}
			<span class="project-title">{{ project.get_title_display }}</span>
			(<small><a href="{% reverse 'threads-thread-list' project=project.slug %}">スレッド一覧</a></small>)
			{% endwith %}
		</div>
		{% endif %}
	</div>
	<div class="thread-body markdown tiny">
		{{ object.body|parse }}
	</div>
</div>

<ul class="comments">
	{% for comment in response_list %}
	{% with forloop.counter|add:1 as response_number %}
	<li id="c{{ comment.id }}" class="comment response" response_number="{{ response_number }}">
		{% include "comments/components/list-item.html" %}
	</li>
	{% endwith %}
	{% empty %}
	<li class="comment empty">まだ返信されていません</li>
	{% endfor %}
</ul>

<h3>返信</h3>
{% with object.get_absolute_url as next %}
	{% render_comment_form for object %}
{% endwith %}
{% endblock %}
