{% extends "commons/base.html" %}
{% load uni_form_tags %}

{% block title %}{{ object.title }}の削除確認{% endblock %}

{% block head %}
{% compressed_css 'uni-form' %}
{% compressed_js 'uni-form' %}
{% endblock %}

{% block content %}
<h2>{{ object.title }}の削除確認</h2>
<form action="" method="post" class="uniForm">{% csrf_token %}
	<p>本当に{{ object.title }}を削除してもよろしいですか？</p>
	<div class="buttonHolder">
		<button type="button" class="secondaryAction back-button">←キャンセルしてもどる</button>
		<button type="submit" class="primaryAction">削除</button>
	</div>
</form>	
{% endblock %}