{% extends "commons/base.html" %}
{% load tagging %}
{% load pagination_tags %}
{% load djangostar %}

{% block head %}
{% compressed_css 'commons-material-list' %}
{% endblock %}

{% block title %}
{% if author %}
{{ author.get_profile.nickname }}さんが投稿した素材一覧
{% else %}{% if project %}
{{ project.title }}の素材一覧
{% else %}
Kawaz Commons
{% endif %}{% endif %}
{% endblock %}

{% block summary %}
{% if author %}
{% with author.get_profile as profile %}
{% include "profiles/components/overview-summary.html" %}
{% endwith %}
{% else %}{% if project %}
{% include "projects/components/overview-summary.html" %}
{% endif %}{% endif %}
{% endblock %}

{% block action %}
{{ block.super }}
<h3>フィルタ</h3>
<div class="filterset">
{{ filter.form }}
</div>
{% endblock %}

{% block content %}
<h2>
{% if author %}
{{ author.get_profile.nickname }}さんが投稿した素材一覧
{% else %}{% if project %}
{{ project.title }}の素材一覧
{% else %}
素材一覧
{% endif %}{% endif %}
</h2>
<p>素材を利用する際は各素材に明記されたライセンスにご注意ください</p>
{% if not author %}
<p>ダウンロードを許可していない素材はリストに表示されていません。それらの素材は各アップロード者のプロフィールページから閲覧できます</p>
{% endif %}
<ul class="hlist commons">
	{% autopaginate object_list 10 %}
	{% for material in object_list %}
	<li class="material">
		<div class="digest">
			<a href="{{ material.get_absolute_url }}" class="fenced filled digest" title="{{ material.title }}">
				<span></span><img src="{% url commons-material-digest material.pk %}" alt="{{ material.title }}" />
			</a>
		</div>
		<table>
			<tr>
				<th>タイトル</th>
				<td>{{ material.title }}</td>
			</tr>
			<tr>
				<th>公開設定</th>
				<td>{{ material.get_pub_state_display }}</td>
			</tr>
			<tr>
				<th>ライセンス</th>
				<td>{{ material.get_license_display }}</td>
			</tr>
			<tr>
				<th>うｐ主</th>
				<td>{{ material.author.get_profile.get_nickname_display }}さん
				(<a href="{% reverse 'commons-material-list' author=material.author.username %}">投稿素材一覧</a>)</td>
			</tr>
			{% if material.project %}
			<tr>
				<th>プロジェクト</th>
				<td>{{ material.project.get_title_display }}
				(<a href="{% reverse 'commons-material-list' project=material.project.slug %}">投稿素材一覧</a>)</td>
			</tr>
			{% endif %}
			<tr>
				<th>Mimetype</th>
				<td>{{ material.mimetype }}</td>
			</tr>
		</table>
		<div class="material-body markdown">
			{{ material.body|striptags|truncateletters:500 }}
		</div>
		{% render_djangostar_list for material %}
		{% render_tagging_tags for material %}
	</li>
	{% empty %}
	<li>まだ素材が投稿されていません</li>
	{% endfor %}
</ul>
{% paginate %}
{% endblock %}
