{% extends "commons/base.html" %}
{% load uni_form_tags %}

{% block title %}
	{% if project %}{{ project.title }}の{% endif %}素材の{% if object %}編集{% else %}投稿{% endif %}
{% endblock %}

{% block head %}
{{ block.super }}
{% compressed_css 'uni-form' %}
{% compressed_js 'uni-form' %}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% if object %}
<li><a href="{% url commons-material-detail object.pk %}">{{ object.title }}</a></li>
<li><a href="{% url commons-material-update object.pk %}">更新</a></li>
{% else %}
{% if project %}
<li><a href="{% reverse 'commons-material-create' project=project.slug %}">新規投稿</a></li>
{% else %}
<li><a href="{% url commons-material-create %}">新規投稿</a></li>
{% endif %}
{% endif %}
{% endblock %}

{% block summary %}
{{ block.super }}
{% if not object and project %}
{% include "projects/components/overview-summary.html" %}
{% endif %}
{% endblock %}

{% block content %}
<h2>
	{% if object %}
	投稿素材の編集
	{% else %}{% if project %}
	{{ project.title }}の新規素材投稿
	{% else %}
	新規素材の投稿
	{% endif %}{% endif %}
</h2>
<form action="" method="post" enctype="multipart/form-data" class="uniForm">{% csrf_token %}
	{{ form|as_uni_form }}
	<div class="buttonHolder">
		<button type="button" class="secondaryAction back-button">←キャンセルし戻る</button>
		<button type="submit" class="primaryAction">{% if object %}変更を反映{% else %}保存して公開{% endif %}</button>
	</div>
</form>
{% endblock %}