{% extends "commons/base.html" %}
{% load typeimg %}
{% load parser %}
{% load tagging %}

{% block title %}{{ object.title }}{% endblock %}

{% block head %}
{{ block.super }}
{% compressed_css 'commons-material-detail' %}
{% compressed_css 'comments' %}
{% compressed_css 'markitupfield' %}
{% compressed_js 'markitupfield' %}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url commons-material-detail object.pk %}">{{ object.title }}</a></li>
{% endblock %}

{% block content %}
<h2 class="material-title">{{ object.title }}</h2>
{% if object.filetype == "image" or object.filetype == "movie" or object.filetype == "audio" %}
<center class="material-preview">{{ object.get_thumbnail_display }}</center>
{% endif %}

<table class="material-info">
	<tr>
		<th>ダウンロード</th>
		<td>
			{% if object.license != 'reject' %}
			{{ object.get_download_link_display }}
			{% else %}
			ライセンスの関係上不可
			{% endif %}
		</td>
	</tr>
	<tr>
		<th>添付タグ</th>
		<td>{{ object.get_attache_tag }}<br />
		<small>このタグを貼り付けることで記事にこの素材を添付することができます</small></td>
	</tr>
	<tr>
		<th>ファイルタイプ</th>
		<td>{{ object.filetype }}</td>
	</tr>
	<tr>
		<th>うｐ主</th>
		<td>
			<a href="{{ object.author.get_absolute_url }}" class="fenced small filled">
				<span></span>{{ object.author.get_profile.get_icon_small_display }}
			</a> {{ object.author.get_profile.get_nickname_display }}
		</td>
	</tr>
	<tr>
		<th>所属プロジェクト</th>
		<td>
			{% if object.project %}
			<a href="{{ object.project.get_absolute_url }}" class="fenced small filled">
				<span></span>{{ object.project.get_icon_small_display }}
			</a> {{ object.project.get_title_display }}
			{% else %}
			無し
			{% endif %}
		</td>
	</tr>
	<tr>
		<th>ライセンス</th>
		<td>{{ object.get_license_display }}</td>
	</tr>
	<tr>
		<th>公開範囲</th>
		<td>{{ object.get_pub_state_display }}</td>
	</tr>
	<tr>
		<th>作成日</th>
		<td>{{ object.created_at|date }}</td>
	</tr>
	<tr>
		<th>最終更新日</th>
		<td>{{ object.updated_at|date }}</td>
	</tr>
	{% ifhsp 'commons.view-pv_material' of object for user %}
	<tr>
		<th>ダウンロード回数</th>
		<td>{{ object.pv }}回</td>
	</tr>
	{% endifhsp %}
	{% ifhsp 'commons.view-ip_material' of object for user %}
	<tr>
		<th>IP Address</th>
		<td>{{ object.ip_address }}</td>
	</tr>
	{% endifhsp %}
</table>

<h3>概要</h3>
<div class="material-body markdown">
	{{ object.body|parse }}
</div>

{% include "comments/components/sets.html" %}
{% endblock %}