{% extends "base.html" %}
{% load uni_form_tags %}

{% block title %}
	お知らせのクリア確認
{% endblock %}

{% block head %}
	{% compressed_css 'uni-form' %}
	{% compressed_js 'uni-form' %}
{% endblock %}

{% block content %}
<h2>クリア確認</h2>
<p>本当にすべてのお知らせを既読に変更してもよろしいですか？</p>
<form action="" method="post" class="uniForm">{% csrf_token %}
	<div class="buttonHolder">
		<button type="button" class="secondaryAction back-button">←キャンセルして戻る</button>
		<button type="submit" class="primaryAction">すべてのお知らせを既読にする</button>
	</div>
</form>
{% endblock %}