@charset "utf-8";

ul.comments{
	margin: 0;
	padding: 0;
}
ul.comments li.comment{
	clear: left;
	margin: 0;
	padding: 10px 5px;
	border-bottom: 1px dotted;
	background-color: inherit;
	list-style: none;
}
ul.comments li.comment.empty,
ul.comments li.comment:last-child{
	border: none;
}
ul.comments li.comment div.comment-user-icon {
	float: left;
	width: 48px;
	height: 48px;
	margin: 0 7px 0 0;
}
ul.comments li.comment div.comment-info{
	float: left;
	width: 96px;
	margin: 0 26px 0 0;
	word-wrap: break-word;
}
ul.comments li.comment div.comment-info div.comment-submit-date{
	font-size: 0.8em;
	color: #9a9a9a;
}
ul.comments li.comment div.comment-body{
	margin: 0 0 0 183px;
}
ul.comments li.comment div.comment-body p.deleted{
	color: #ababab;
}
ul.comments li.comment div.comment-body:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html ul.comments li.comment div.comment-body
{ zoom: 1; } /* IE6 */
*:first-child+html ul.comments li.comment div.comment-body
{ zoom: 1; } /* IE7 */

ul.comments li.comment ul.comment-utils li{
	padding: 1px 0 0 13px;
	font-size: 0.8em;
}
ul.comments li.comment ul.comment-utils li a{
	display: block;
	margin: 0;
	padding: 0;
	outline: none;
	cursor: pointer;
}
