{% extends "profiles/base.html" %}
{% load uni_form_tags %}
{% load googlemap %}
{% load commons %}

{% block head %}
{% compressed_css 'markitupfield' %}
{% compressed_css 'uni-form' %}
{% compressed_css 'profiles-profile-form' %}
{% compressed_js 'markitupfield' %}
{% compressed_js 'uni-form' %}
{% compressed_js 'profiles-profile-form' %}
{% render_googlemap_head %}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li>{{ object.get_nickname_display }}</li>
<li><a href="{% url profiles-profile-update %}">プロフィール更新</a></li>
{% endblock %}

{% block action %}
<h3>添付ファイル一覧</h3>
{% get_materials for object.remarks as materials %}
<ul class="ilist">
	{% for material in materials %}
	<li class="commons-material-detail">{{ material.get_title_display }}</li>
	{% empty %}
	<li class="commons-material-detail">添付されているファイルはありません</li>
	{% endfor %}
</ul>
<h3>サービス連携</h3>
<ul class="ilist">
{% if user == object.user %}
	{{ user.twitter_token }}
	{% if not user.get_profile.twitter_token %}
	<li class="twitter"><a href="{% url twitter_oauth_auth %}">Twitter連携</a><br />
		<small>Twitterとかわずったーの相互連携を許可します</small>
	</li>
	{% else %}
	<li class="twitter"><a href="{% url twitter_oauth_unauth %}">Twitter連携解除</a><br />
		<small>Twitterとかわずったーの相互連携を拒否します</small>
	</li>
	{% endif %}
{% endif %}
{% endblock %}

{% block content %}
<h2>プロフィールの更新</h2>
{% if not object.nickname %}
	<p>初ログインですね？プロフィール情報を書き込んでページ下部の「更新」を押しましょう</p>
	<p><small>プロフィールを更新するまで通常のブラウジングはできません</small></p>
{% endif %}
<form action="" method="post" enctype="multipart/form-data" class="uniForm">{% csrf_token %}
	{{ form|as_uni_form }}
	<h3>利用サービスの追加</h3>
	<table id="services">
		{% for sform in formset.forms %}
		<tr id="{{ sform.prefix }}-row" class="ctrlHolder{% if not sform.errors|length == 0 %} error{% endif %}">
			<td class="select-service-column">
			{% for fld in sform.hidden_fields %}{{ fld }}{% endfor %}
				{% if sform.instance.pk %}{{ sform.DELETE }}{% endif %}
				{{ sform.service.errors }}
				{{ sform.service }}
			</td>
			<td>{{ sform.account.errors }}
				{{ sform.account }}</td>
			<td class="select-pub_state-column">{{ sform.pub_state.errors }}
				{{ sform.pub_state }}</td>
		</tr>
		{% endfor %}
	</table>
	{{ formset.management_form }}
	<div class="buttonHolder">
		{% if object.nickname %}
		<button type="button" class="secondaryAction back-button">←キャンセルし戻る</button>
		{% endif %}
		<button type="submit" class="primaryAction">変更を反映</button>
	</div>
</form>
{% endblock %}
