{% extends "profiles/base.html" %}
{% load googlemap %}
{% load tagging %}
{% load parser %}
{% load history %}
{% load typeimg %}
{% load query %}

{% load commons %}
{% load blogs %}

{% block title %}{{ object.nickname }}さんのプロフィール{% endblock %}

{% block head %}
{% compressed_css "comments" %}
{% compressed_css 'markitupfield' %}
{% compressed_css 'profiles-profile-detail' %}
{% compressed_js 'markitupfield' %}
{% compressed_js 'profiles-profile-detail' %}
{% render_googlemap_head %}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li>{{ object.get_nickname_display }}</li>
{% endblock %}

{% block summary %}
{% with object as profile %}
{% include "profiles/components/overview-summary.html" %}
{% endwith %}
{{ block.super }}
{% endblock %}

{% block action %}
{% if user.is_authenticated and user != object.user %}
{% ifhsp 'messages.add_message' for user %}
<h3>操作</h3>
<ul class="ilist">
	<li class="messages-message-create"><a href="{% url messages-message-create %}?to={{ object.user }}">メッセージを送る</a></li>
</ul>
{% endifhsp %}
{% elif user == object.user %}
<h3>管理</h3>
<ul class="ilist">
	<li class="profiles-profile-update"><a href="{% url profiles-profile-update %}">プロフィールを編集</a></li>
	<li class="auth-password-update"><a href="{% url auth_password_change %}">パスワードを変更</a></li>
	<li class="auth-password-reset"><a href="{% url auth_password_reset %}">パスワードをリセット</a></li>
</ul>
{% endif %}

<h3>見る</h3>
<ul class="ilist">
	<li class="blogs-entry-list"><a href="{% url blogs-entry-list object.user %}">日記一覧を見る</a></li>
	{#<li class="tweets-tweet-list"><a href="{% url tweets-tweet-user-list object.user %}">つぶやきを見る</a></li>#}
	<li class="commons-material-list"><a href="{% reverse 'commons-material-list' author=object.user %}">投稿した素材を見る</a></li>
</ul>

<h3>最近のつぶやき</h3>
<ul class="ilist">
	{% for tweet in object.user.tweets.all|slice:":3" %}
	<li class="tweets-tweet-detail"><a href="{{ tweet.get_absolute_url }}">{{ tweet.body|truncateletters:"8" }}</a></li>
	{% empty %}
	<li class="tweets-tweet-detail">つぶやきがありません</li>
	{% endfor %}
</ul>
{#<p class="more"><a href="{% url tweets-tweet-user-list object.user.username %}">もっと見る</a></p>#}

<h3>最近の日記</h3>
<ul class="ilist">
	{% get_blog_entries request for object.user as entries %}
	{% for entry in entries|slice:":3" %}
	<li class="blogs-entry-detail"><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></li>
	{% empty %}
	<li class="blogs-entry-detail">日記がありません</li>
	{% endfor %}
</ul>
<p class="more"><a href="{% url blogs-entry-list object.user.username %}">もっと見る</a></li>

<h3>投稿した素材</h3>
<ul class="ilist">
	{% for material in object.user.materials|exclude:"license=reject"|slice:":3" %}
	<li class="commons-material-detail"><a href="{{ material.get_absolute_url }}">{{ material.title }}</a></li>
	{% empty %}
	<li class="commons-material-detail">素材がありません</li>
	{% endfor %}
</ul>
<p class="more"><a href="{% reverse 'commons-material-list' author=object.user %}">もっと見る</a></p>

<h3>所属プロジェクト</h3>
<ul class="hlist">
	{% for project in object.user.projects_joined.all %}
	<li><a href="{{ project.get_absolute_url }}" class="fenced small filled"><span></span>{{ project.get_icon_small_display }}</a></li>
	{% empty %}
	<li>参加しているプロジェクトはありません</li>
	{% endfor %}
</ul>

<h3>参加イベント</h3>
<ul class="ilist">
	{% for event in object.user.events_joined.all %}
	<li class="events-event-detail"><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></li>
	{% empty %}
	<li class="events-event-detail">参加しているイベントはありません</li>
	{% endfor %}
</ul>

<h3>添付ファイル一覧</h3>
{% get_materials for object.remarks as materials %}
<ul class="ilist">
	{% for material in materials %}
	<li class="commons-material-detail">{{ material.get_title_display }}</li>
	{% empty %}
	<li class="commons-material-detail">添付されているファイルはありません</li>
	{% endfor %}
</ul>
{{ block.super }}
{% endblock %}

{% block content %}
<h2 class="profile-nickname">{{ object.nickname }}さん (@{{ object.user.username }})</h2>

<div class="profile-thumbnail">
	<div class="profile-icon">
		<a href="{{ object.get_absolute_url }}" class="fenced huge filled">
			<span></span>{{ object.get_icon_huge_display }}
		</a>
	</div>
	<div class="profile-mood">
		{{ object.mood|default:"ムードメッセージが指定されていません" }}
	</div>
</div>
<table class="profile-detail">
	<tr>
		<th>性別</th>
		<td>{{ object.get_sex_display|default:"未設定" }}</td>
	</tr>
	<tr>
		<th>誕生日</th>
		<td>{{ object.birthday|date:"m月d日"|default:"未設定" }}</td>
	</tr>
	<tr>
		<th>スキル</th>
		<td>
			<ul class="hlist">
			{% for skill in object.skills.all %}
				<li>{{ skill }}</li>
			{% empty %}
				<li>特に無し</li>
			{% endfor %}
			</ul>
		</td>
	</tr>
	{% if user.is_authenticated %}
	<tr>
		<th>住所</th>
		<td>{{ object.place|default:"未設定" }}</td>
	</tr>
	{% endif %}
	{% if object.location and user.is_authenticated %}
	<tr>
		<td colspan="2">
			{{ object.get_location_display }}
			<small>{{ object.get_location_link }}</small>
		</td>
	</tr>
	{% endif %}
</table>

<div class="profile-remarks markdown">
	<div class="markdown">{{ object.remarks|parse }}</div>
</div>

<h3>Webページ</h3>
<p><a href="{{ object.url }}">{{ object.url }}</a></p>

<h3>利用しているサービス</h3>
<table class="profile-services">
	{% for service in object.services.all %}
	{% if user.is_authenticated or service.pub_state == 'public' %}
	<tr>
		<th>{{ service.get_service_icon_display }}{{ service.get_service_display }}</th>
		<td>{{ service.get_account_display }}</td>
	</tr>
	{% endif %}
	{% empty %}
	<tr><td colspan="2">サービスが登録されていません</td></tr>
	{% endfor %}
</table>

<h3>最近の更新</h3>
{% get_history_timelines of object,object.user.blog_entries,object.user.materials,object.user.tweets as timelines %}
<table>
{% for timeline in timelines|slice:":10" %}
	<tr>
		<th title="{{ timeline.created_at }}">{{ timeline.created_at|humanize_date }}</th>
		<td>{% render_ctimg for timeline.content_type %}{{ timeline.get_message }}</td>
	</tr>
	{% empty %}
	<tr>
		<td colspan="2">まだ何も更新されていません</td>
	</tr>
{% endfor %}
</table>
{% include "comments/components/sets.html" %}
{% endblock %}
