{% extends "base.html" %}
{% load messages %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url messages-message-list %}">Messages</a></li>
{% endblock %}

{% block action %}
{% ifhsp 'messages.add_message','messages.delete_message' of object for user %}
<h3>操作</h3>
<ul class="ilist">
	{% ifhsp 'messages.add_message' for user %}
	{% if object and user != object.author %}
	<li class="messages-message-reply"><a href="{% url messages-message-create %}?to={{ object.author }}&title=Re:{{ object.title }}">{{ object.author.get_profile.nickname }}に返信</a></li>
	{% endif %}
	<li class="messages-message-create"><a href="{% url messages-message-create %}">新規メッセージの作成</a></li>
	{% endifhsp %}
	{% if object %}{% ifhsp 'messages.delete_message' of object for user %}
	<li class="messages-message-delete"><a href="{% url messages-message-delete object.pk %}">このメッセージの削除</a></li>
	{% endifhsp %}{% endif %}
</ul>
{% endifhsp %}

<h3>見る</h3>
<ul class="ilist">
	{% get_unread_message_count for user as unread_message_count %}
	<li class="messages-message-list"><a href="{% url messages-message-list %}">最新メッセージ{% if unread_message_count %}({{ unread_message_count }}通){% endif %}</a></li>
	<li class="messages-message-list-recived"><a href="{% url messages-message-recived %}">受信トレイ({{ user.recived_messages.count }}通)</a>
	<li class="messages-message-list-sent"><a href="{% url messages-message-sent %}">送信トレイ({{ user.sent_messages.count }}通)</a></li>
</ul>
{% endblock %}