{% extends "messages/base.html" %}
{% load parser %}
{% load tagging %}

{% block title %}{{ object.title }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></li>
{% endblock %}

{% block summary %}
<div id="overview-message">
	<h3 class="message-title">{{ object.title }}</h3>
	<table class="message-info">
		<tr>
			{% if user != object.author %}
			<th>送信者</th>
			<td>
				{% with object.author.get_profile as profile %}
				<a href="{{ profile.get_absolute_url }}" class="fenced small filled">
					<span></span>{{ profile.get_icon_small_display }}
				</a>{{ profile.get_nickname_display }}さん
				{% endwith %}
			</td>
			{% else %}
			<th>受信者</th>
			<td>
				{% if object.recivers.count == 1 %}
				{% with object.recivers.all.0.get_profile as profile %}
				<a href="{{ profile.get_absolute_url }}" class="fenced small filled">
					<span></span>{{ profile.get_icon_small_display }}
				</a>{{ profile.get_nickname_display }}さん
				{% endwith %}
				{% else %}
				<ul class="hlist">
					{% for reciver in object.recivers.all %}
					<li>
						{% with reciver.get_profile as profile %}
						<a href="{{ profile.get_absolute_url }}" class="fenced small filled">
							<span></span>{{ profile.get_icon_small_display }}
						</a>
						{% endwith %}
					</li>
					{% endfor %}
				</ul>
				{% endif %}
			</td>
			{% endif %}
		</tr>
		<tr>
			<th>送信日時</th>
			<td>
				{{ object.created_at }}
			</td>
		</tr>
	</table>
	{% render_tagging_tags for object %}
</div>
{% endblock %}

{% block content %}
<h2>{{ object.title }}</h2>
<div class="messages-message-body markdown">
	{{ object.body|parse }}
</div>
{% endblock %}