{% extends "messages/base.html" %}
{% load messages %}

{% block title %}送信トレイ{% endblock %}

{% block head %}
{% compressed_css 'messages-message-inbox' %}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url messages-message-sent %}">送信トレイ</a></li>
{% endblock %}

{% block action %}
{{ block.super }}
<h3>フィルタ</h3>
<div class="filterset">
{{ filter.form }}
</div>
{% endblock %}

{% block content %}	
<h2>送信トレイ</h2>
<table>
	<thead>
		<tr>
			<th>件名</th>
			<th>受信者</th>
			<th>送信日時</th>
		</tr>
	</thead>
	<tbody>
	{% for message in filter %}
		<tr>
			<td class="messages-message-read">
				<a href="{{ message.get_absolute_url }}">{{ message.title }}</a>
			</td>
			<td>
				{{ message.recivers.all.0.get_profile.get_nickname_display }}
				{% if message.recivers.count > 1 %}
				(他{{ message.recivers.count|add:"-1" }}名)
				{% endif %}
			</td>
			<td>{{ message.created_at|date }}</td>
		</tr>
	{% empty %}
		<tr><td colspan="3">送信したメッセージはありません</td></tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}