{% load comments i18n %}
{% if not user.is_authenticated %}
<p><small>メールアドレスは表示されません</small></p>
{% endif %}
<form action="{% comment_form_target %}" method="post" class="comment">{% csrf_token %}
	{% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
	{% for field in form %}
		{% if field.is_hidden %}
			{{ field }}
		{% else %}
			{% if field.errors %}{{ field.errors }}{% endif %}
			<p
				{% if field.errors %} class="error"{% endif %}
				{% if field.name == "honeypot" %} style="display:none;"{% endif %}
				{% if user.is_authenticated %}
					{% if field.name == "name" %} style="display:none;"{% endif %}
					{% if field.name == "email" %} style="display:none;"{% endif %}
					{% if field.name == "url" %} style="display:none;"{% endif %}
				{% endif %}
			>
				{% if field.name != "comment" %}{{ field.label_tag }}{% endif %} {{ field }}
			</p>
			{% if field.help_text %}
			<small class="help-text">{{ field.help_text }}</small>
			{% endif %}
		{% endif %}
	{% endfor %}
	<p class="submit">
		<input type="submit" name="post" class="submit-post" value="{% trans "Post" %}" />
		{#<input type="submit" name="preview" class="submit-preview" value="{% trans "Preview" %}" />#}
	</p>
</form>