{% load djangostar %}
<p class="comment-name">
	{% if comment.user %}
	{% with comment.user.get_profile as profile %}
	{{ profile.get_nickname_display }}さん
	{% endwith %}
	{% else %}
	{{ comment.name }}さん
	{% endif %}
</p>
<p class="comment-submit-date">{{ comment.submit_date|date:"m/d H:i" }}</p>
<p class="comment-body">
	{% if comment.is_removed %}
	<span class="deleted">--- このコメントは削除されました ---</span>
	{% else %}
	{{ comment.comment|striptags|truncateletters:"50" }}
	{% endif %}
	{% render_djangostar_list for comment %}
</p>
