{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% reverse 'utilities-index' %}">ユーティリティー</a></li>
<li><a href="{% reverse 'flatpages-flatpage-list' %}">フラットページ一覧</a></li>
{% endblock %}

{% block action %}
<h3>操作</h3>
<ul class="ilist">
	{% ifhsp 'flatpages.add_flatpage' for user %}
	<li class="flatpages-flatpage-create"><a href="{% reverse 'flatpages-flatpage-create' %}">新規作成</a></li>
	{% endifhsp %}
	{% if object %}
	{% ifhsp 'flatpages.change_flatpage' for user %}
	<li class="flatpages-flatpage-update"><a href="{% reverse 'flatpages-flatpage-update' object.pk %}">編集</a></li>
	{% endifhsp %}
	{% ifhsp 'flatpages.delete_flatpage' for user %}
	<li class="flatpages-flatpage-delete"><a href="{% reverse 'flatpages-flatpage-delete' object.pk %}">削除</a></li>
	{% endifhsp %}
	{% endif %}
</ul>
{% endblock %}
