{% extends 'flatpages/base.html' %}

{% block head %}
{% compressed_css 'flatpages-flatpage-list' %}
{% endblock %}

{% block content %}
<h2>フラットページ一覧</h2>
<ul class="ilist flatpages">
	{% for flatpage in object_list %}
	<li class="manual flatpage">
		<h3><a href="{{ flatpage.url }}">{{ flatpage.title }} ({{ flatpage.url }})</a> 
			<span class="flatpages-flatpage-update edit">
				<a href="{% reverse 'flatpages-flatpage-update' flatpage.pk %}" title="このフラットページを編集する">編集</a>
			</span>
			<span class="flatpages-flatpage-delete delete">
				<a href="{% reverse 'flatpages-flatpage-delete' flatpage.pk %}" title="このフラットページを削除する">削除</a>
			</span>
		</h3>
		<small>{{ flatpage.content|truncateletters:200 }}</small>
	</li>
	{% empty %}
	<li>フラットページが存在しません</li>
	{% endfor %}
</ul>
{% endblock %}