@charset "utf-8";

/* overview summary ---------------------------------------------------- */
div#overview div#summary div.project-icon{
	float: left;
	margin: 0 5px 10px 0;
}
div#overview div#summary div.project-body{
	margin: 0 0 10px 103px;
}