@charset "utf-8";

/* content ------------------------------------------------------------- */
div#content div.project-icon{
	float: left;
	margin: 0 10px 10px 0;
}
div#content div.project-history{
	float: right;
	width: 216px !important;
	margin: 0 0 10px 0;
	font-size: 0.8em;
}
div#content div.project-body{
	clear: both;
}
