{% load comments %}
{% load tagging %}
{% load query %}
{% load djangostar %}
<h3 class="event-title"><a href="{{ event.get_absolute_url }}">{{ event.title }}</a> {% if not event.is_active %}(終了済み){% endif %}</h3>
<table class="event-detail">
	<tr>
		<th>日時</th>
		<td title="{{ event.period_start }}〜{{ event.period_end }}">{{ event.get_period_display }}</td>
	</tr>
	<tr>
		<th>場所</th>
		<td>{{ event.place|default:"未定" }}</td>
	</tr>
	<tr>
		<th>主催</th>
		<td><a href="{{ event.author.get_profile.get_absolute_url }}" class="fenced small filled">
			<span></span>{{ event.author.get_profile.get_icon_small_display }}
			</a> {{ event.author.get_profile.get_nickname_display }}さん
		</td>
	</tr>
	<tr>
		<th>参加者</th>
		<td>
			<ul class="hlist users">
				{% for user_joined in event.members.all|order_by %}
				<li class="user"><a href="{{ user_joined.get_profile.get_absolute_url }}" class="fenced small filled">
					<span></span>{{ user_joined.get_profile.get_icon_small_display }}</a>
				</li>
				{% empty %}
				<li class="user empty">まだ誰も参加していません</li>
				{% endfor %}
			</ul>
			
		</td>
	</tr>
</table>
{% get_comment_list for event as comments %}
<ul class="event-comments comments">
	{% for comment in comments|slice:"-5:" reversed %}
	<li class="comment tiny">
	{% include "comments/components/list-item-tiny.html" %}
	</li>
	{% empty %}
	<li class="comment empty">コメントはありません</li>
	{% endfor %}
</ul>
{% render_tagging_tags for event %}
{% render_djangostar_list for event %}