{% load parser %}
<div class="blogs-entry {{ entry.pub_state }}">
	<div class="blogs-entry-publish-at" title="{{ entry.publish_at|date }}">
		{% if entry.pub_state != 'draft' %}
		{% with entry.publish_at as date %}
		<a href="{% reverse 'blogs-entry-archive-day' year=date.year,month=date.month,day=date.day,author=author %}" title="{{ date|date }}の日記一覧を表示">
			<span class="day">{{date|date:"d" }}</span>
		</a>
		<a href="{% reverse 'blogs-entry-archive-month' year=date.year,month=date.month,author=author %}" title="{{ date|date:"Y年m月" }}の日記一覧を表示">
			<span class="month">{{ date|date:"m" }}/</span>
		</a>
		<a href="{% reverse 'blogs-entry-archive-year' year=date.year,author=author %}" title="{{ date|date:"Y年" }}の日記一覧を表示">
			<span class="year">{{ date|date:"y" }}</span>
		</a>
		{% endwith %}
		{% else %}
		<span class="day">??</span>
		<span class="month">??/</span>
		<span class="year">??</span>
		{% endif %}
	</div>
	<h3 class="blogs-entry-title"><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h3>
	<table class="blogs-entry-info">
		<tr>
			<th>カテゴリー</th>
			<td>{{ entry.category|default:'未設定' }}</td>
		</tr>
		<tr>
			<th>公開設定</th>
			<td>{{ entry.get_pub_state_display }}</td>
		</tr>
		<tr>
			<th>公開日時</th>
			<td>{{ entry.publish_at|date:"Y/m/d H:i:s" }}</td>
		</tr>
		<tr>
			<th>最終更新日時</th>
			<td>{{ entry.updated_at|date:"Y/m/d H:i:s" }}</td>
		</tr>
	</table>
	<div class="blogs-entry-body markdown">
		{{ entry.body|parse }}
	</div>
</div>