{% load parser %}
{% load tagging %}
{% load djangostar %}
<div class="blogs-entry {{ entry.pub_state }}">
	<div class="blogs-entry-publish-at" title="{{ entry.publish_at|date }}">
		{% if entry.pub_state != 'draft' %}
		{% with entry.publish_at as date %}
		{% if author %}
		<a href="{% reverse 'blogs-entry-archive-day' year=date.year,month=date.month,day=date.day,author=author %}"
		{% else %}
		<a href="{% reverse 'blogs-entry-archive-day' year=date.year,month=date.month,day=date.day %}"
		{%endif %}
		title="{{ date|date }}の日記一覧を表示">
			<span class="day">{{date|date:"d" }}</span>
		</a>
		{% if author %}
		<a href="{% reverse 'blogs-entry-archive-month' year=date.year,month=date.month,author=author %}"
		{% else %}
		<a href="{% reverse 'blogs-entry-archive-month' year=date.year,month=date.month %}"
		{% endif %}
		title="{{ date|date:"Y年m月" }}の日記一覧を表示">
			<span class="month">{{ date|date:"m" }}/</span>
		</a>
		{% if author %}
		<a href="{% reverse 'blogs-entry-archive-year' year=date.year,author=author %}"
		{% else %}
		<a href="{% reverse 'blogs-entry-archive-year' year=date.year %}"
		{% endif %}
		title="{{ date|date:"Y年" }}の日記一覧を表示">
			<span class="year">{{ date|date:"y" }}</span>
		</a>
		{% endwith %}
		{% else %}
		<span class="day">??</span>
		<span class="month">??/</span>
		<span class="year">??</span>
		{% endif %}
	</div>
	<h3 class="blogs-entry-title"><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h3>
	<table class="blogs-entry-info">
		<tr>
			<th>著者</th>
			<td>
				{% with entry.author.get_profile as profile %}
				<a href="{{ profile.get_absolute_url }}" class="fenced small">
					<span></span>{{ profile.get_icon_small_display }}
				</a>
				{{ profile.get_nickname_display }}さん
				{% endwith %} 
				(<a href="{% url blogs-entry-list entry.author %}">ブログ一覧を見る</a>)
			</td>
		</tr>
		<tr>
			<th>カテゴリー</th>
			<td>{{ entry.category|default:'未設定' }}</td>
		</tr>
		<tr>
			<th>公開設定</th>
			<td>{{ entry.get_pub_state_display }}</td>
		</tr>
	</table>
	<div class="blogs-entry-body markdown">
		{{ entry.body|parse|truncateletters_html:300 }}
	</div>
	{% render_tagging_tags for entry %}
	{% render_djangostar_list for entry %}
</div>