{% extends "tasks/base.html" %}
{% load parser %}
{% load tagging %}
{% load comments %}
{% load djangostar %}

{% block title %}{{ object.title }}{% endblock %}

{% block head %}
{{ block.super }}
{% compressed_css 'markitupfield' %}
{% compressed_css 'comments' %}
{% compressed_js 'markitupfield'%}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></li>
{% endblock %}

{% block content %}
<h2 class="task-title">{{ object.title }}</h2>
{% if object.status == 'new' %}
<p>このタスクを受け付けるには右の「状態管理」から「認証・再開」を押してください</p>
{% elif object.status == 'rejected' %}
<p>タスクの完了が棄却されました。タスクを再び受けるには右の「状態管理」から「認証・再開」を押してください</p>
{% endif %}
<div class="task-body markdown">
	{{ object.body|parse }}
</div>
{% render_djangostar_list for object %}
{% include "comments/components/sets.html" %}
{% endblock %}
