{% extends "tasks/base.html" %}
{% load uni_form_tags %}

{% block title %}
	{% if object %}{{ object.title }}の編集{% else %}新規タスクの作成{% endif %}
{% endblock %}

{% block head %}
{{ block.super }}
{% compressed_css 'markitupfield' %}
{% compressed_js 'markitupfield' %}
{% compressed_css 'uni-form' %}
{% compressed_js 'uni-form' %}
<script type="text/javascript">
$(document).ready(function(){
	// DatePickerを設定
	$("#id_deadline").datepicker({
		'buttonImage': '/image/icon/events.event.png',
		'closeText':'確定',
		'currentText':'今日',
		'dateFormat':'yy-mm-dd',
		'dayNamesMin': ['日', '月', '火', '水', '木', '金', '土'],
		'maxDate': '+6m',
		'minDate': new Date(),
		'monthNames': ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
		'monthNamesShort': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
		'nextText': '次',
		'numberOfMonths': [2,3],
		'prevText': '前',
		'showMonthAfterYear': true,
		'showButtonPanel': true,
	});
	var options = [];
	for(var i=0;i<$("select[name=owners]").children("option").length;++i){
		var elm = $("select[name=owners]").children("option").eq(i);
		options[elm.val()] = elm;
	}
	function filter_owners(){
		var project_id = $("#id_project").val();
		if (project_id == ''){
			$("select[name=owners]").children("option").show();
		}else{
			var base_url = "/projects/api/project/";
			var url = base_url + project_id + "/";
			$.get(url, function(data){
				$("select[name=owners]").children("option").hide();
				for(var i=0; i<data.members.length; ++i){
					var user_id = data.members[i].id;
					$("select[name=owners] option[value="+user_id+"]").show();
				}
			}, 'json');
		}
	}
	// プロジェクトメンバーをAPIから取得して担当者リストに反映
	$("#id_project").change(function(){
		filter_owners();
	});
	filter_owners();
});
</script>
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% if object %}
<li><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></li>
<li><a href="{% reverse 'tasks-task-update' object.pk %}">編集</a></li>
{% else %}
<li><a href="{% reverse 'tasks-task-create' %}">新規作成</a></li>
{% endif %}
{% endblock %}

{% block content %}
<h2>
	{% if object %}{{ object.title }}の編集{% else %}
	{% if project %}{{ project.title }}の{% endif %}新規タスク作成{% endif %}
</h2>
<form action="" method="post" class="uniForm">{% csrf_token %}
	{{ form|as_uni_form }}
	<div class="buttonHolder">
		<button type="button" class="secondaryAction back-button">←キャンセルし戻る</button>
		{% if not object %}
		<button type="button" class="primaryAction draft-button">下書きとして保存</button>
		{% endif %}
		<button type="submit" class="primaryAction">{% if object %}変更を反映{% else %}保存して公開{% endif %}</button>
	</div>
</form>
{% endblock %}
