{% extends "tagging/base.html" %}
{% load typeimg  %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{{ object.get_absolute_url }}">{{ object.label }}の付いたアイテム</a></li>
{% endblock %}

{% block title %}
{{ object.label }}の付いたアイテム
{% endblock %}

{% block content %}
<h2>{{ object.label }}の付いたアイテム</h2>
<ul class="taggeditems ilist">
	{% for item in object.items.all %}
	<li class="taggeditem manual">
		{% render_ctimg for item.content_object %}<a href="{{ item.get_absolute_url }}">{{ item.content_object }}</a>
	</li>
	{% empty %}
	<li class="taggeditem empty">見つかりませんでした</li>
	{% endfor %}
</ul>
{% endblock %}