{% extends "events/base.html" %}
{% load commons %}
{% load comments %}
{% load defaultimg %}
{% load googlemap %}
{% load parser %}
{% load tagging %}
{% load typeimg %}
{% load djangostar %}
{% block title %}{{ object.title }}{% endblock %}

{% block head %}
{{ block.super }}
{% compressed_css "markitupfield" %}
{% compressed_css "comments" %}
{% compressed_css 'events-event-detail' %}
{% compressed_js "markitupfield" %}
{% render_googlemap_head %}
{% if user != object.author %}
<script type="text/javascript">
	$(document).ready(function(){
		{% if user in object.members.all %}
		var label = "コメントを書き込んで参加をやめる";
		var url = "{% reverse 'events-event-quit' object.pk %}";
		{% else %}
		var label = "コメントを書き込んで参加";
		var url = "{% reverse 'events-event-join' object.pk %}";
		{% endif %}
		var $form = $('form.comment');
		var $post = $('input.submit-post', $form);
		var $button = $('<button>').addClass('extra-post').html(label);
		$button.attr('type', 'button').attr('value', label);
		$button.click(function(){
			$post.attr('disabled', 'disabled');
			$button.attr('disabled', 'disabled');
			$.post($form.attr('action'), $form.serialize(), function(){
				location.href = url;
			});
			return false;
		});
		$post.after($button);
	});
</script>
{% endif %}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></li>
{% endblock %}

{% block summary %}
<div id="event-summary">
	<h3><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h3>
	<div class="event-summary-body">
		{{ object.body|striptags|truncateletters:50 }}
	</div>
	<table class="event-summary">
		<tr>
			<th>主催</th>
			<td>
				{% with object.author.get_profile as profile %}
				<a href="{{ profile.get_absolute_url }}" class="fenced small filled">
					<span></span>{{ profile.get_icon_small_display }}
				</a> {{ profile.get_nickname_display }}さん
				{% endwith %}
			</td>
		</tr>
		<tr>
			<th>期間</th>
			<td>{{ object.get_period_display }}</td>
		</tr>
		<tr>
			<th>場所</th>
			<td>
				{{ object.place|default:"開催場所未定" }}<br />
				<small>{{ object.get_location_link }}</small>
			</td>
		</tr>
	</table>
	{% render_tagging_tags for object %}
</div>
{{ block.super }}
{% endblock %}

{% block content %}
<h2 class="event-title">{{ object.title }}{% if user in object.members.all %}（参加中）{% endif %}</h2>
{% if not object.is_active %}
<p>このイベントはすでに終了しています</p>
{% endif %}
<div class="event-info">
	<h3>詳細情報</h3>
	<table>
		<tr>
			<th>主催</th>
			<td><a href="{{ object.author.get_profile.get_absolute_url }}" class="fenced middle">{{ object.author.get_profile.get_icon_middle_display }}</a>{{ object.author.get_profile.get_nickname_display }}さん</td>
		</tr>
		<tr>
			<th>開始</th>
			<td>{{ object.period_start|date:"Y年m月d日(D) H時i分"|default:"未設定" }}</td>
		</tr>
		<tr>
			<th>終了</th>
			<td>{{ object.period_end|date:"Y年m月d日(D) H時i分"|default:"未設定" }}</td>
		<tr>
			<th>場所</th>
			<td><span id="place">{{ object.place|default:"開催場所未定" }}</span></td>
		</tr>
	</table>
</div>

{% if object.location %}
<div class="event-map">
	<h3>地図</h3>
	{{ object.get_location_display }}
	<p><small>{{ object.get_location_link }}</small></p>	
</div>
{% endif %}
<div class="event-body markdown">
    {% render_djangostar_list for object %}
	{{ object.body|parse }}
</div>

{% include "comments/components/sets.html" %}
{% endblock %}